.inlabLogin {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-Tf_KtjkxGdsv);
  background: linear-gradient(135deg, #a98bff 0%, #d8efff 99%, #8bbfff 100%) 0%
    0% / 100% 100% repeat;
  transform: none;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px 16px 18px;
}
.inlabLogin > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .inlabLogin > * {
    grid-column: 4;
  }
}
.inlabLogindisabledLoginButton > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .inlabLogindisabledLoginButton > * {
    grid-column: 4;
  }
}
.inlabLoginwrongUser > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .inlabLoginwrongUser > * {
    grid-column: 4;
  }
}
.inlabLoginwrongUser_disabledLoginButton > * {
  grid-column: 4;
}
.redirectToHomepage:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.pageContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 60px;
  row-gap: 12px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .pageContent {
    position: relative;
    left: auto;
    top: auto;
  }
}
.modalNoticeBanner:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: none;
  align-self: center;
  left: 0px;
  top: 40%;
  z-index: 1;
  position: sticky;
}
.modalNoticeBanner__modal :global(.ant-modal-content) {
  background: #ffffff;
  outline: none;
}
.متوجهشدم2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.text__z1VSz {
  font-size: var(--token-0eYOoylpckD-);
  font-weight: 500;
  font-family: var(--VazirmatnCustom);
  font-style: normal;
  color: #ffffff;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none !important;
}
.svg__rdyQu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__taSsY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eytnV {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-QaYKfzjjyGNS);
  font-weight: 700;
  font-style: normal;
  color: var(--token-8JvL6vHdQN9t);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none !important;
  background: #ffffff;
  min-width: 0;
}
.text__rBtcc {
  position: relative;
  width: 60vh;
  height: auto;
  max-width: 100%;
  text-align: center;
  white-space: pre-wrap;
  font-weight: 800;
  text-decoration-line: none;
  font-size: 20px;
  color: #573b8e;
}
.text___09DK {
  position: relative;
  width: 60vh;
  height: auto;
  max-width: 100%;
  text-align: center;
  white-space: pre-wrap;
  font-weight: 600;
  text-decoration-line: none;
  font-size: var(--token-NjjyizhNP7nM);
  color: #5a6b92;
}
.username:global(.__wab_instance) {
  position: relative;
  width: 350px;
  height: 60px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .username:global(.__wab_instance) {
    width: 70%;
    flex-shrink: 0;
  }
}
.svg__uuuwg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-SgmzWHxAFlng);
  margin-left: 3px;
}
.svg__kX5O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-SgmzWHxAFlng);
}
.password:global(.__wab_instance) {
  position: relative;
  width: 350px;
  height: 60px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .password:global(.__wab_instance) {
    width: 70%;
    flex-shrink: 0;
  }
}
.svg__qGzZj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-SgmzWHxAFlng);
  margin-left: 3px;
}
.svg__jrOaJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-SgmzWHxAFlng);
}
.text__rImG6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-DQC3yZGltERk);
  font-weight: 700;
  min-width: 0;
}
.loginButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.loginButtondisabledLoginButton:global(.__wab_instance) {
  opacity: 0.6;
}
.svg__jLu2S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gwXyp {
  white-space: pre-wrap;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 0px;
  color: #ffffff;
}
.svg__wwdmq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.createAccountResetPassword {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  padding: 4px;
}
.resetPassword:global(.__wab_instance) {
  max-width: 300px;
  height: auto;
  width: 100%;
  transform: skew(0deg, 0deg);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .resetPassword:global(.__wab_instance) {
    max-width: 53.14%;
    width: 100%;
    min-width: 0;
  }
}
.svg__thg8B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__iTrTz {
  font-size: var(--token-0eYOoylpckD-);
  white-space: pre-wrap;
  max-width: 119px;
  width: 100%;
  color: #1b1b18;
  font-weight: 700;
  padding-bottom: 0px;
  min-width: 0;
}
.svg__ylGlC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.createAccount:global(.__wab_instance) {
  max-width: 300px;
  height: auto;
  width: 100%;
  transform: skew(0deg, 0deg);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .createAccount:global(.__wab_instance) {
    max-width: 53.14%;
    width: 100%;
    min-width: 0;
  }
}
.svg__iLg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4Ry8Z {
  font-size: var(--token-0eYOoylpckD-);
  white-space: pre-wrap;
  max-width: 119px;
  width: 100%;
  color: #1b1b18;
  font-weight: 700;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
}
.svg__vEtu0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.shareTool:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
