.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-FIzS8pa_dDYe);
  font-family: var(--token-S2_g7AlLrb3Z);
  font-size: var(--token-qd9prW88HVWo);
  line-height: var(--token-vbExHf-0bMR_);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
