.userSetting {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-8QVs0q0FxNgy);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.userSetting > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .userSetting > * {
    grid-column: 4;
  }
}
.userSettingdisabledLogoutButton > * {
  grid-column: 4;
}
.redirectToInlabLogin:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectToNamespaceSelection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.pageContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 927px;
  max-width: 100%;
  justify-self: flex-start;
  margin-top: 23px;
  row-gap: 8px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 18px 8px 8px;
}
.pictureAndName {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  background: #ffffff;
  min-width: 0;
  padding: 0px 0px 0px 6px;
  margin: 0px;
  border-top: 1px solid var(--token-4Puxyftex8lT);
  border-bottom: 1px solid var(--token-4Puxyftex8lT);
}
.nameRankUsername {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 0px;
  min-width: 0;
  padding: 6px 8px 0px 0px;
}
.name {
  display: block;
  font-size: var(--token-QaYKfzjjyGNS);
  font-family: var(--VazirmatnCustom);
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.2;
  color: var(--token-8JvL6vHdQN9t);
  position: relative;
  top: auto;
  left: auto;
  text-align: right;
  margin-top: 3px;
  white-space: pre-wrap;
}
.userRankTitle {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  text-align: right;
  margin-top: 5px;
  font-size: var(--token-QaYKfzjjyGNS);
  white-space: pre-wrap;
  font-weight: 500;
}
.usernameValue {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  text-align: right;
  margin-top: 5px;
  font-size: var(--token-QaYKfzjjyGNS);
  white-space: pre-wrap;
  font-weight: 500;
}
.userPicture {
  position: relative;
  object-fit: cover;
  max-width: 80%;
  align-self: center;
  height: 100%;
  width: auto;
  color: var(--token-SgmzWHxAFlng);
  min-height: 0;
}
.myProfile {
  background: none;
  width: 351px;
  height: auto;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-top: 46px;
  column-gap: 8px;
  display: none;
  padding: 16px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.myProfile2 {
  display: block;
  font-size: 14px;
  font-family: "vazirmatn";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(24, 29, 36, 1);
  position: relative;
  text-align: left;
}
.svg__sXaOr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #416ce1;
  width: 15px;
  height: 21px;
  display: block;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.namespace {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  min-width: 0;
  padding: 0px 16px;
  margin: 0px;
  border-top: 1px solid var(--token-4Puxyftex8lT);
  border-bottom: 1px solid var(--token-4Puxyftex8lT);
}
.hospitalIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 43px;
  color: var(--token-SgmzWHxAFlng);
  flex-shrink: 0;
}
.namespaceTitle {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  row-gap: 4px;
  min-width: 0;
  padding: 8px;
}
.hospital2 {
  display: block;
  font-size: var(--token-QaYKfzjjyGNS);
  font-family: var(--VazirmatnCustom);
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.2;
  color: var(--token-8JvL6vHdQN9t);
  text-align: right;
  align-self: flex-end;
  white-space: pre-wrap;
}
.namespaceName {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-QaYKfzjjyGNS);
  color: var(--token-SgmzWHxAFlng);
  white-space: pre-wrap;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}
.resetPassword {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  min-width: 0;
  padding: 0px 16px;
  margin: 0px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.resetPasswordImage {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 43px;
  display: block;
  color: var(--token-SgmzWHxAFlng);
  flex-shrink: 0;
}
.text__neNbj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  line-height: 1.5em;
  flex-shrink: 0;
  padding: 5px;
}
.uploadSignature {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  min-width: 0;
  padding: 0px 16px;
  margin: 0px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.uploadSignaturedisabledLogoutButton {
  left: auto;
  top: auto;
}
.uploadSignatureImage {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 43px;
  display: block;
  color: var(--token-SgmzWHxAFlng);
  flex-shrink: 0;
}
.text__oMSvg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  line-height: 1.5em;
  flex-shrink: 0;
  padding: 5px;
}
.shareToolContent {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: 8px;
  min-width: 0;
  padding: 0px 16px;
  margin: 0px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.shareToolContentdisabledLogoutButton {
  left: auto;
  top: auto;
}
.shareTool:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientReception {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: 8px;
  min-width: 0;
  padding: 0px 16px;
  margin: 0px 0px 17px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.patientReceptiondisabledLogoutButton {
  left: auto;
  top: auto;
}
.receptionIcon {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 43px;
  color: var(--token-SgmzWHxAFlng);
  flex-shrink: 0;
}
.text__tw5Vw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.logoutButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  margin: 0px;
}
.logoutButtondisabledLogoutButton:global(.__wab_instance) {
  left: auto;
  top: auto;
  opacity: 0.6;
}
.svg__rzWiq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.text__xclUo {
  background: none;
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
  white-space: pre-wrap;
  color: #ffffff;
}
.textdisabledLogoutButton__xclUoX3OjF {
  height: auto;
}
.svg__fUs7I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.modalChangePassword:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 200px;
  background: #ffffff;
}
.pcls_SPkKI-B5ZPy8 {
  background: none;
  outline: none;
}
.modalChangePassword__modal :global(.ant-modal-content) {
  background: #ffffff;
  outline: none;
}
.modalContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 505px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  align-self: center;
  background: #ffffff;
  padding: 8px;
}
.passwordContent {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.password:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 1em;
  margin-left: 1em;
}
.svg__mxb35 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.repeatPasswordContent {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.repeatPassword:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 1em;
  margin-left: 1em;
}
.svg__uVMV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.changePasswordButton2:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 10px;
}
.text__ctxt0 {
  color: #ffffff;
  font-weight: 700;
}
.svg__i1WwB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5P9B2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.passwordRepeatPasswordMismatch2:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.text__rdlZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-QaYKfzjjyGNS);
  min-width: 0;
}
.text__wQi2D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___8EC3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.successfulChangePassword2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 0;
}
.text__uZa6K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-QaYKfzjjyGNS);
  min-width: 0;
}
.text__xfTwU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__t6SA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.unsuccessfulChangePassword2:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.text__iXdoo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-QaYKfzjjyGNS);
  min-width: 0;
}
.text__idweO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__brugE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.text__xFk6S {
  background: #ffffff;
}
.modalUploadSignature:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 200px;
  background: #ffffff;
}
.pcls_trPHRokG_IXm {
  background: none;
  outline: none;
}
.modalUploadSignature__modal :global(.ant-modal-content) {
  background: #ffffff;
  outline: none;
}
.modalUploadContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 505px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  align-self: center;
  background: #ffffff;
  padding: 8px;
}
.text__uDecH {
  background: #ffffff;
  color: #001879;
  font-size: var(--token-QaYKfzjjyGNS);
  font-weight: 600;
  margin: 10px;
}
.img__dFm4C {
  object-fit: cover;
  max-width: 100%;
  width: 300px;
}
.img__dFm4C > picture > img {
  object-fit: cover;
}
.uploadSignatureImageTool:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: auto;
  height: auto;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gWcO8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.uploadSignatureImageButton:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 10px;
}
.text__t65 {
  color: #ffffff;
  font-weight: 700;
}
.svg__rn3Ko {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__n7V9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.processingUploadSignature:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 0;
}
.text__etZnh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-QaYKfzjjyGNS);
  min-width: 0;
}
.text__nHd3X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___120Ug {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.largeSignatureImageSize:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 0;
}
.text___8Td5Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-QaYKfzjjyGNS);
  padding-top: 0px;
  min-width: 0;
}
.text__dFRoG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__jfkde {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.successfulUploadSignature:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 0;
}
.text__jhuRy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-QaYKfzjjyGNS);
  min-width: 0;
}
.text__t27D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__wcgHz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.unsuccessfulUploadSignature:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.text__ujuIz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-QaYKfzjjyGNS);
  min-width: 0;
}
.text__nQWo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__trFJb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.text__nyv8J {
  background: #ffffff;
  font-weight: 700;
}
.homepageSwitchingTab {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 18px;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 20px 11.3% 5%;
}
.switchingTab:global(.__wab_instance) {
  max-width: 50%;
  position: relative;
}
.img__jGXn {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 0;
  border-right: 1px none #aeaeae;
}
.img__jGXn > picture > img {
  object-fit: fill;
}
.img___3X73D {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  display: none;
  margin: 0;
  border-left: 1px solid #00000045;
}
.img___3X73D > picture > img {
  object-fit: fill;
}
.img__o8O8 {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  display: none;
  margin: 1px;
  border-right: 1px solid #00000045;
  border-left: 1px solid #00000045;
}
.img__o8O8 > picture > img {
  object-fit: fill;
}
.img__fe7Cw {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  border-right-style: none;
  border-right-width: 1px;
  height: 25px;
  display: none;
  margin: 0;
}
.img__fe7Cw > picture > img {
  object-fit: fill;
}
