.root {
  background: var(--token-pMLlSiAbZkvs);
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .root > * {
    grid-column: 4;
  }
}
.patientHistory {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: auto;
  row-gap: 12px;
  overflow: auto;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 6px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .patientHistory {
    top: 40px;
    justify-content: flex-start;
  }
}
.templatesSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  background: none;
  min-width: 0;
  padding: 6px;
  border: 1px solid var(--token-4Puxyftex8lT);
}
.text___95Z7Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  box-shadow: 0px 2px 4px 0px #00000033;
  left: auto;
  top: auto;
  z-index: 1;
  background: #ffffffcc;
  min-width: 0;
  padding: 4px;
  border-bottom: 0.5px solid var(--token-4Puxyftex8lT);
}
.getTemplateApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.templateSection {
  display: grid;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .templateSection {
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 4px;
  }
}
.templateCard {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  left: auto;
  top: auto;
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 5px;
  padding: 4px;
  border: 0.5px solid var(--token-4Puxyftex8lT);
}
.templateName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  white-space: pre-wrap;
  min-width: 0;
}
.templateCategory {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.submissionsSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  background: none;
  min-width: 0;
  padding: 6px;
  border: 1px solid var(--token-4Puxyftex8lT);
}
.text__yaQOc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  box-shadow: 0px 2px 4px 0px #00000033;
  left: auto;
  top: auto;
  z-index: 1;
  background: #ffffffcc;
  min-width: 0;
  padding: 4px;
  border-bottom: 0.5px solid var(--token-4Puxyftex8lT);
}
.getSubmissionApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.submissionSection {
  display: grid;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .submissionSection {
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 4px;
  }
}
.filledTemplateCard {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  left: auto;
  top: auto;
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  row-gap: 4px;
  min-width: 0;
  border-radius: 5px;
  padding: 4px;
  border: 0.5px solid var(--token-4Puxyftex8lT);
}
.filledTemplateName2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  white-space: pre-wrap;
  min-width: 0;
}
.filledPatientName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  white-space: pre-wrap;
  color: #2d3436bf;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .filledPatientName {
    left: auto;
    top: auto;
  }
}
.templateCategory2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.text__u4Fpo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  padding: 4px;
}
.formSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff80;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .formSection {
    row-gap: 4px;
    column-gap: 0px;
    padding: 4px;
  }
}
.text__jbVx0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.formNameBackButton {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  background: #ffffffcc;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .formNameBackButton {
    column-gap: 4px;
    row-gap: 0px;
    padding: 4px;
  }
}
.backToTemplates:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__zZtOt {
    font-size: var(--token-0eYOoylpckD-);
    text-decoration-line: none !important;
  }
}
.svg__iPwn7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___0ByB1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.previewForm:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ge8Zr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8GFab {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.previewHistory:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__nztZ {
    font-size: var(--token-0eYOoylpckD-);
  }
}
.svg__j9NWm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pcxL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.printHistory:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__gVgH {
    font-size: var(--token-0eYOoylpckD-);
  }
}
.svg__goWpt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ev3WE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ocCBp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  right: auto;
  background: #ffffff;
  min-width: 0;
  padding: 4px;
}
.text__zwY1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  right: auto;
  background: #ff0000;
  color: var(--token-vdN6xpRhglc2);
  min-width: 0;
  padding: 4px;
}
.text__gGoMu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  right: auto;
  background: #52c41a;
  color: var(--token-vdN6xpRhglc2);
  min-width: 0;
  padding: 4px;
}
.patientDemographicData {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 12px;
  min-width: 0;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .patientDemographicData {
    column-gap: 4px;
    justify-content: space-around;
    row-gap: 0px;
    padding: 2px;
  }
}
.submitPatientDemographicData:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__cDvWl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7LMz5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.patientNationalcode:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
@media (min-width: 0px) and (max-width: 760px) {
  .patientNationalcode:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__m97Uf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-SgmzWHxAFlng);
}
.patientName:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
@media (min-width: 0px) and (max-width: 760px) {
  .patientName:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__upsYm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-SgmzWHxAFlng);
}
.simpleFormBuilderComponent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  bottom: auto;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.formPreview:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formPreview__modal :global(.ant-modal-content) {
  background: #ffffff;
  outline: none;
}
.getPreviewForm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-M2zN9dj6Oipu);
}
.svg__jU3Gg {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  width: auto;
  height: 1em;
  flex-grow: 0;
  flex-shrink: 0;
}
.text__lS4CS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-QaYKfzjjyGNS);
  text-align: right;
  line-height: 1.5;
  user-select: text;
  min-width: 0;
  padding: 4px;
}
.text___14Uhu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
