.newFeatureBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #ffffff;
  row-gap: 5px;
  min-width: 0;
  padding: 8px;
}
.newVersionDatetime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 600;
  min-width: 0;
  display: none;
}
.featureDescription {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren {
  text-align: right;
}
