.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px var(--token-0jflij2Drauk);
  position: relative;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
  border-radius: 5px;
  padding: 8px;
}
.img__tSp2I {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 0;
  border-right: 1px none #aeaeae;
}
.img__tSp2I > picture > img {
  object-fit: fill;
}
.img___95KfO {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 0;
  border-left: 1px solid #00000045;
}
.img___95KfO > picture > img {
  object-fit: fill;
}
.img__hdijq {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 0;
  border-left: 1px solid #00000045;
}
.img__hdijq > picture > img {
  object-fit: fill;
}
.img__cyJe {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 1px;
  border-right: 1px solid #00000045;
  border-left: 1px solid #00000045;
}
.img__cyJe > picture > img {
  object-fit: fill;
}
.img__o1FDr {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  border-right-style: none;
  border-right-width: 1px;
  height: 25px;
  margin: 0;
}
.img__o1FDr > picture > img {
  object-fit: fill;
}
