.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  border-radius: 5px;
}
.freeBox__s1LCb {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 12px;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #e7e7e7;
}
.freeBoxinformation__s1LCBapWi4 {
  background: #1b90fa57;
}
.freeBoxinformationNoDescription__s1LCbpJ0A {
  background: #1b90fa57;
}
.freeBoxsuccess__s1LCbwMaqY {
  background: var(--token-9VYeuLcpBrmu);
}
.freeBoxsuccessNoDescription__s1LCbIjTIy {
  background: var(--token-9VYeuLcpBrmu);
}
.freeBoxerror__s1LCBuKrg3 {
  background: var(--token-6w_oFsPax00P);
}
.freeBoxerrorNoDescription__s1LCbd7Bc9 {
  background: var(--token-6w_oFsPax00P);
}
.freeBoxwarning__s1LCbdpYaQ {
  background: var(--token-Du_gi9fXJ6HB);
}
.freeBoxwarningNoDescription__s1LCBfq3Cy {
  background: var(--token-Du_gi9fXJ6HB);
}
.freeBox__aOpqL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.h6 {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.h6noHeader {
  display: none;
}
.text__lvRc5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nRs3 {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.freeBoxnoBody__nRs3JlUcu {
  display: none;
}
.freeBoxinformationNoDescription__nRs3PJ0A {
  display: none;
}
.freeBoxsuccessNoDescription__nRs3IjTIy {
  display: none;
}
.freeBoxerrorNoDescription__nRs3D7Bc9 {
  display: none;
}
.freeBoxwarningNoDescription__nRs3Fq3Cy {
  display: none;
}
.text__ngw8M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__u44Q0 {
  display: flex;
  position: relative;
  align-self: flex-start;
}
.freeBoxnoIcon__u44Q0G8TY {
  display: none;
}
.svg__kLuHt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
