.bookmark {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  color: var(--token-SgmzWHxAFlng);
  max-height: 100%;
  min-height: none;
  width: 2em;
  height: 2em;
  justify-self: flex-start;
  transform: none;
}
.bookmarkbookmarked {
  color: var(--token-SgmzWHxAFlng);
}
.bookmarkloadingBookmark {
  color: var(--token-wOrZiG1qM1EW);
  max-width: 100%;
  width: 3em;
  height: 3em;
}
