.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-sZk5J715_Guy);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-zsNJ6a4Fbioc);
  font-family: var(--token-S2_g7AlLrb3Z);
  font-size: var(--token-qd9prW88HVWo);
  line-height: var(--token-vbExHf-0bMR_);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-j7bPdqLRjcEr);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-r6g1zxVqv0Ii);
  outline-offset: 1px;
  outline-color: var(--token-sZk5J715_Guy);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-NwtEjpApxiHf);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-JjERCdmxy80Y);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-nPMSDAu-jikr);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-T-rtwVdWikDa);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-hfz5S5FYhONj);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-KirSgNMkBWN-);
  font-size: var(--token-AZpdu_CIomQw);
  column-gap: var(--token-r6g1zxVqv0Ii);
  row-gap: 0px;
  border-radius: var(--token-QfmXsVYBB99L);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-AZpdu_CIomQw);
  line-height: var(--token-KirSgNMkBWN-);
  column-gap: var(--token-QfmXsVYBB99L);
  row-gap: 0px;
  border-radius: var(--token-QfmXsVYBB99L);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-PSQ7rTPKoH_8);
  line-height: var(--token-g4vqsu04BVzV);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-PSQ7rTPKoH_8);
  line-height: var(--token-g4vqsu04BVzV);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-zi3qqEvAFVY-);
  border-radius: var(--token-j7bPdqLRjcEr);
}
.softBackgroundcolor_neutral {
  background: var(--token-AWyiJXF_AX1Y);
}
.softBackgroundcolor_muted {
  background: var(--token-ZIZ8CHCmpl47);
}
.softBackgroundcolor_success {
  background: var(--token-4ucmNKOIvPUa);
}
.softBackgroundcolor_warning {
  background: var(--token-kOP7ZuAZIkQK);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-hjdQ2ku11yfe);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-j7bPdqLRjcEr);
  border: 0px solid var(--token-g3T9SmwAL5dP);
}
.bordercolor_neutral {
  border-color: var(--token-qyj-1WCb3uva);
}
.bordercolor_muted {
  border-color: var(--token-X1WJL-wJ28aU);
}
.bordercolor_success {
  border-color: var(--token-rhx4YNZvmcj9);
}
.bordercolor_warning {
  border-color: var(--token-Fijsnt7MZ5DK);
}
.bordercolor_errorDestructive {
  border-color: var(--token-SFw4y-IOQrVM);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-j7bPdqLRjcEr);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-ikJwairQz_gf);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-IAcuBs_jlAEf);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-FtKVrUWRP-0G);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__mvOrz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-j7bPdqLRjcEr);
  min-width: 0;
  min-height: 0;
  padding: var(--token-j7bPdqLRjcEr) var(--token-32o0J-NymVdy);
}
.freeBoxsize_extraSmall__mvOrz71PZx {
  padding: var(--token-QfmXsVYBB99L) var(--token-j7bPdqLRjcEr);
}
.freeBoxsize_small__mvOrzhhL2K {
  padding: var(--token-j7bPdqLRjcEr) var(--token-zsNJ6a4Fbioc);
}
.freeBoxsize_large__mvOrzzq9CS {
  padding-top: var(--token-QfmXsVYBB99L);
  padding-bottom: var(--token-QfmXsVYBB99L);
}
.freeBoxsize_extraLarge__mvOrznzdGb {
  padding-left: var(--token-M2zN9dj6Oipu);
  padding-right: var(--token-M2zN9dj6Oipu);
}
.freeBoxroundedFull__mvOrzBq1ZE {
  padding-right: var(--token-M2zN9dj6Oipu);
  padding-left: var(--token-M2zN9dj6Oipu);
}
.freeBox___7N38P {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___7N38P6JxL5 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-s46d31n4wIYe);
}
.slotTargetStartcolor_neutral {
  color: var(--token-AbXsTZEoqjdg);
}
.slotTargetStartcolor_muted {
  color: var(--token-0LiBbshcGH89);
}
.slotTargetStartcolor_success {
  color: var(--token-XadCWg3SKbJI);
}
.slotTargetStartcolor_warning {
  color: var(--token--B1TmjBC7f_v);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-SPKBYMylNbQ8);
}
.slotTargetStarttype_soft {
  color: var(--token--PR6j1pVTXsu);
}
.slotTargetStarttype_bordered {
  color: var(--token--PR6j1pVTXsu);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-AZpdu_CIomQw);
}
.slotTargetStartsize_small {
  font-size: var(--token-AZpdu_CIomQw);
}
.slotTargetStartsize_large {
  font-size: var(--token-PSQ7rTPKoH_8);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-PSQ7rTPKoH_8);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-ia0Kz0bI6gmT);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-ia0Kz0bI6gmT);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-VdDkR-Ws-tll);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-VdDkR-Ws-tll);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-CFNddi1fCxzU);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-CFNddi1fCxzU);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-970IaGqjBn4a);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-970IaGqjBn4a);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-PKg9z0ftkIQV);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-PKg9z0ftkIQV);
}
.svg__cjhMg {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-s46d31n4wIYe);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-AbXsTZEoqjdg);
}
.slotTargetLabelcolor_muted {
  color: var(--token-0LiBbshcGH89);
}
.slotTargetLabelcolor_success {
  color: var(--token-XadCWg3SKbJI);
}
.slotTargetLabelcolor_warning {
  color: var(--token--B1TmjBC7f_v);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-SPKBYMylNbQ8);
}
.slotTargetLabeltype_soft {
  color: var(--token--PR6j1pVTXsu);
}
.slotTargetLabeltype_bordered {
  color: var(--token--PR6j1pVTXsu);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-ia0Kz0bI6gmT);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-VdDkR-Ws-tll);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-ia0Kz0bI6gmT);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-CFNddi1fCxzU);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-VdDkR-Ws-tll);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-970IaGqjBn4a);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-CFNddi1fCxzU);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-PKg9z0ftkIQV);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-970IaGqjBn4a);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-PKg9z0ftkIQV);
}
.text___4Jqd5 {
  white-space: pre;
}
.freeBox__j6H7 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__j6H7Vywpa {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-s46d31n4wIYe);
}
.slotTargetEndcolor_neutral {
  color: var(--token-AbXsTZEoqjdg);
}
.slotTargetEndcolor_muted {
  color: var(--token-0LiBbshcGH89);
}
.slotTargetEndcolor_success {
  color: var(--token-XadCWg3SKbJI);
}
.slotTargetEndcolor_warning {
  color: var(--token--B1TmjBC7f_v);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-SPKBYMylNbQ8);
}
.slotTargetEndtype_soft {
  color: var(--token--PR6j1pVTXsu);
}
.slotTargetEndtype_bordered {
  color: var(--token--PR6j1pVTXsu);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-AZpdu_CIomQw);
}
.slotTargetEndsize_small {
  font-size: var(--token-AZpdu_CIomQw);
}
.slotTargetEndsize_large {
  font-size: var(--token-PSQ7rTPKoH_8);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-PSQ7rTPKoH_8);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-ia0Kz0bI6gmT);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-ia0Kz0bI6gmT);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-VdDkR-Ws-tll);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-VdDkR-Ws-tll);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-CFNddi1fCxzU);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-CFNddi1fCxzU);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-970IaGqjBn4a);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-970IaGqjBn4a);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-PKg9z0ftkIQV);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-PKg9z0ftkIQV);
}
.svg__rIg9Q {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
