.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  border-radius: 5px;
}
.freeBox__fZDb {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 12px;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #e7e7e7;
}
.freeBoxinformation__fZDboslko {
  background: #1b90fa57;
}
.freeBoxinformationNoDescription__fZDBfXxC {
  background: #1b90fa57;
}
.freeBoxsuccess__fZDb31Vox {
  background: var(--token-9VYeuLcpBrmu);
}
.freeBoxsuccessNoDescription__fZDbIuBl9 {
  background: var(--token-9VYeuLcpBrmu);
}
.freeBoxerror__fZDbk589Z {
  background: var(--token-6w_oFsPax00P);
}
.freeBoxerrorNoDescription__fZDbJpnq2 {
  background: var(--token-6w_oFsPax00P);
}
.freeBoxwarning__fZDbl4NpN {
  background: var(--token-Du_gi9fXJ6HB);
}
.freeBoxwarningNoDescription__fZDBuQ2L0 {
  background: var(--token-Du_gi9fXJ6HB);
}
.freeBox__ozUtI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.h6 {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.h6noHeader {
  display: none;
}
.text__krXve {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___9Tm2P {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.freeBoxnoBody___9Tm2P3VrfF {
  display: none;
}
.freeBoxinformationNoDescription___9Tm2PfXxC {
  display: none;
}
.freeBoxsuccessNoDescription___9Tm2PIuBl9 {
  display: none;
}
.freeBoxerrorNoDescription___9Tm2PJpnq2 {
  display: none;
}
.freeBoxwarningNoDescription___9Tm2PuQ2L0 {
  display: none;
}
.text__zo77D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pu4Yt {
  display: flex;
  position: relative;
  align-self: flex-start;
}
.freeBoxnoIcon__pu4Yt7FeUt {
  display: none;
}
.svg__t3WQy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
