.highlightIcon {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  color: var(--token-4Puxyftex8lT);
  max-height: 100%;
  min-height: none;
  width: 15px;
  height: 15px;
  justify-self: flex-start;
  transform: none;
}
.highlightIconhighlighting {
  color: var(--token-GP3f-LQGVMF4);
}
.highlightIconloadingHighlighting {
  color: var(--token-GP3f-LQGVMF4);
  max-width: 100%;
  width: 20px;
  height: 20px;
}
.highlightIconloadingHighlighting_highlighting {
  width: 15px;
  height: 15px;
}
