.ariaSelect:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-QfmXsVYBB99L);
  min-width: 0;
}
.ariaSelect[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px var(--token--Vb5ujc-iHPp);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline-style: none;
  background: var(--token-vdN6xpRhglc2);
  min-width: 0;
  border-radius: var(--token-j7bPdqLRjcEr);
  padding: 0px;
  border-style: none;
}
.ariaSelect[data-focus-visible] .ariaButton:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-r6g1zxVqv0Ii);
  outline-offset: 1px;
  outline-color: var(--token-sZk5J715_Guy);
}
.ariaSelectedValue:global(.__wab_instance) {
  font-size: var(--token-qd9prW88HVWo);
  line-height: var(--token-vbExHf-0bMR_);
  padding-top: var(--token-j7bPdqLRjcEr);
  padding-bottom: var(--token-j7bPdqLRjcEr);
  padding-left: var(--token-32o0J-NymVdy);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FIzS8pa_dDYe);
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  width: var(--token-PzkMMgfXqawJ);
  height: var(--token-PzkMMgfXqawJ);
  justify-content: center;
  align-items: center;
}
.svg {
  width: var(--token-XKqzEqDyrT9j);
  height: var(--token-XKqzEqDyrT9j);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.menuPopover:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.menuSection__ydJm:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__xj8Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
