.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-vdN6xpRhglc2);
  position: relative;
  overflow: auto;
  box-shadow:
    0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-X1WJL-wJ28aU);
  border-radius: var(--token-32o0J-NymVdy);
  padding: var(--token-j7bPdqLRjcEr);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__aeAjV:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
