.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button2__iukp:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__xotYy {
  position: relative;
  height: 1em;
}
.text___5Kef3 {
  padding-right: 0px;
}
.svg__jSlZ {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  border-top-right-radius: var(--token-2ER69RM1tTPk);
  border-top-left-radius: var(--token-2ER69RM1tTPk);
  outline-style: none;
  background: var(--token-AbJ0W-K7opJE);
  display: block;
  color: var(--token-WSOQKxqtSk7F);
  font-family: var(--token-HrYxe9bGiUsp);
  font-size: var(--token-3DlQ9mVQ6NFy);
  line-height: var(--token-shxF4F_ggPFB);
  position: relative;
  box-shadow: 0px 24px 48px -12px #00000040;
}
.pcls_k1xpARJO-ZNf {
  background: var(--token-kujhYMFg165U);
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  outline: none;
}
@media (min-width: 0px) and (max-width: 760px) {
  .ariaModal:global(.__wab_instance) {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: var(--token-e7Bq8tgVCks9);
    border-top-right-radius: var(--token-e7Bq8tgVCks9);
    max-height: 100%;
  }
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  overflow: hidden;
  outline-style: none;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 90vh;
}
.freeBox__c98Y1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
}
.h2___6OjaC {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: bold;
  font-size: var(--token-iGfYmUJpbSN2);
  min-width: 0;
  padding: var(--token-VmuuBHNLOlxG);
  margin: 0rem;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  padding: 0px var(--token-VmuuBHNLOlxG);
}
.freeBox__jdOfl {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  row-gap: var(--token-e7Bq8tgVCks9);
}
.text__my52W {
  position: relative;
}
.freeBox__oNe6K {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-VmuuBHNLOlxG);
}
.freeBox___4FACp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__rFxU {
  position: relative;
  height: 1em;
}
.svg__f9FQ {
  position: relative;
  height: 1em;
}
