.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-Hm3SlAJH-Xg2);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-sfLcv3n8rVPG);
  font-family: var(--token-HrYxe9bGiUsp);
  font-size: var(--token-3DlQ9mVQ6NFy);
  line-height: var(--token-shxF4F_ggPFB);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-gT8GM_eUi3Z2);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-goQXpK0S37Un);
  outline-offset: 1px;
  outline-color: var(--token-Hm3SlAJH-Xg2);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-CAoOsMwH7GjQ);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-76NL_yCkWXTR);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-DGeInvsdubHW);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-tHEjTUn1WC4U);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-9V0KuWHEiqvW);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-EEV95BcNsKjl);
  font-size: var(--token-4n0HtNprqHMN);
  column-gap: var(--token-goQXpK0S37Un);
  row-gap: 0px;
  border-radius: var(--token-_4-ntd2poXac);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-4n0HtNprqHMN);
  line-height: var(--token-EEV95BcNsKjl);
  column-gap: var(--token-_4-ntd2poXac);
  row-gap: 0px;
  border-radius: var(--token-_4-ntd2poXac);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-iGfYmUJpbSN2);
  line-height: var(--token-8jyLAFp05Pjx);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-iGfYmUJpbSN2);
  line-height: var(--token-8jyLAFp05Pjx);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-NQTGvQtHifK9);
  border-radius: var(--token-gT8GM_eUi3Z2);
}
.softBackgroundcolor_neutral {
  background: var(--token-EU9zlbaa2Eme);
}
.softBackgroundcolor_muted {
  background: var(--token-swqYw2qjyf1R);
}
.softBackgroundcolor_success {
  background: var(--token-1tUXeZThqFvb);
}
.softBackgroundcolor_warning {
  background: var(--token-_BPwB9Tfg7lQ);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-q-xgvAILmGoe);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-gT8GM_eUi3Z2);
  border: 0px solid var(--token-tg-G0abTOwB-);
}
.bordercolor_neutral {
  border-color: var(--token--tFDkqrEPvry);
}
.bordercolor_muted {
  border-color: var(--token-c8x7mfdddVHV);
}
.bordercolor_success {
  border-color: var(--token-FxLgd2nHWJZF);
}
.bordercolor_warning {
  border-color: var(--token-lUAvXCb2mp8r);
}
.bordercolor_errorDestructive {
  border-color: var(--token-gcJp5-vOXJTy);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-gT8GM_eUi3Z2);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-CDSlcQZ6qLwJ);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-OnxxoVMKq_I0);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-bP_1gtf2H3Dy);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__iXqqS {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-gT8GM_eUi3Z2);
  min-width: 0;
  min-height: 0;
  padding: var(--token-gT8GM_eUi3Z2) var(--token-0SUmebUCJbd8);
}
.freeBoxsize_extraSmall__iXqqSyYGpS {
  padding: var(--token-_4-ntd2poXac) var(--token-gT8GM_eUi3Z2);
}
.freeBoxsize_small__iXqqS0Zvqr {
  padding: var(--token-gT8GM_eUi3Z2) var(--token-sfLcv3n8rVPG);
}
.freeBoxsize_large__iXqqSuEgMs {
  padding-top: var(--token-_4-ntd2poXac);
  padding-bottom: var(--token-_4-ntd2poXac);
}
.freeBoxsize_extraLarge__iXqqSyXjW {
  padding-left: var(--token-e7Bq8tgVCks9);
  padding-right: var(--token-e7Bq8tgVCks9);
}
.freeBoxroundedFull__iXqqSkwhJ {
  padding-right: var(--token-e7Bq8tgVCks9);
  padding-left: var(--token-e7Bq8tgVCks9);
}
.freeBox___7YgG5 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___7YgG5BKJfW {
  display: flex;
}
.slotTargetStart {
  color: var(--token-djcb5g00iB5z);
}
.slotTargetStartcolor_neutral {
  color: var(--token--rZLnzx4v1Au);
}
.slotTargetStartcolor_muted {
  color: var(--token-dE8pmxFKD7cT);
}
.slotTargetStartcolor_success {
  color: var(--token-KLD2Km4sZNiX);
}
.slotTargetStartcolor_warning {
  color: var(--token-nneMhOe7V-TJ);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-TNlCa9LHLzGz);
}
.slotTargetStarttype_soft {
  color: var(--token-ZiNyN4qXHLNj);
}
.slotTargetStarttype_bordered {
  color: var(--token-ZiNyN4qXHLNj);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-4n0HtNprqHMN);
}
.slotTargetStartsize_small {
  font-size: var(--token-4n0HtNprqHMN);
}
.slotTargetStartsize_large {
  font-size: var(--token-iGfYmUJpbSN2);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-iGfYmUJpbSN2);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-HlUGWuXP1Bxy);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-HlUGWuXP1Bxy);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-2zooZy6yPp1_);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-2zooZy6yPp1_);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-EfV7-oGYCCPM);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-EfV7-oGYCCPM);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-cXz62bzEMnf-);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-cXz62bzEMnf-);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-y_dkHg1VTeB6);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-y_dkHg1VTeB6);
}
.svg___4TYi6 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-djcb5g00iB5z);
}
.slotTargetLabelcolor_neutral {
  color: var(--token--rZLnzx4v1Au);
}
.slotTargetLabelcolor_muted {
  color: var(--token-dE8pmxFKD7cT);
}
.slotTargetLabelcolor_success {
  color: var(--token-KLD2Km4sZNiX);
}
.slotTargetLabelcolor_warning {
  color: var(--token-nneMhOe7V-TJ);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-TNlCa9LHLzGz);
}
.slotTargetLabeltype_soft {
  color: var(--token-ZiNyN4qXHLNj);
}
.slotTargetLabeltype_bordered {
  color: var(--token-ZiNyN4qXHLNj);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-HlUGWuXP1Bxy);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-2zooZy6yPp1_);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-HlUGWuXP1Bxy);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-EfV7-oGYCCPM);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-2zooZy6yPp1_);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-cXz62bzEMnf-);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-EfV7-oGYCCPM);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-y_dkHg1VTeB6);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-cXz62bzEMnf-);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-y_dkHg1VTeB6);
}
.text__mpwja {
  white-space: pre;
}
.freeBox__gldXr {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__gldXr5XHqG {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-djcb5g00iB5z);
}
.slotTargetEndcolor_neutral {
  color: var(--token--rZLnzx4v1Au);
}
.slotTargetEndcolor_muted {
  color: var(--token-dE8pmxFKD7cT);
}
.slotTargetEndcolor_success {
  color: var(--token-KLD2Km4sZNiX);
}
.slotTargetEndcolor_warning {
  color: var(--token-nneMhOe7V-TJ);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-TNlCa9LHLzGz);
}
.slotTargetEndtype_soft {
  color: var(--token-ZiNyN4qXHLNj);
}
.slotTargetEndtype_bordered {
  color: var(--token-ZiNyN4qXHLNj);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-4n0HtNprqHMN);
}
.slotTargetEndsize_small {
  font-size: var(--token-4n0HtNprqHMN);
}
.slotTargetEndsize_large {
  font-size: var(--token-iGfYmUJpbSN2);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-iGfYmUJpbSN2);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-HlUGWuXP1Bxy);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-HlUGWuXP1Bxy);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-2zooZy6yPp1_);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-2zooZy6yPp1_);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-EfV7-oGYCCPM);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-EfV7-oGYCCPM);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-cXz62bzEMnf-);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-cXz62bzEMnf-);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-y_dkHg1VTeB6);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-y_dkHg1VTeB6);
}
.svg__zbGu {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
