.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 5px;
}
.freeBox__tAFvX {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 12px;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #e7e7e7;
}
.freeBoxinformation__tAFvXdJnQj {
  background: var(--token-RR9zhGuZEkUi);
}
.freeBoxinformationNoDescription__tAFvXr1XdH {
  background: var(--token-RR9zhGuZEkUi);
}
.freeBoxsuccess__tAFvXKz3Xm {
  background: var(--token-ogkHt7a8SbSi);
}
.freeBoxsuccessNoDescription__tAFvXcQkJw {
  background: var(--token-ogkHt7a8SbSi);
}
.freeBoxerror__tAFvXjrU1E {
  background: var(--token-T4eoWzd-MxJC);
}
.freeBoxerrorNoDescription__tAFvXlb0Bt {
  background: var(--token-T4eoWzd-MxJC);
}
.freeBoxwarning__tAFvXgGUyN {
  background: var(--token-86XDInJC_qo3);
}
.freeBoxwarningNoDescription__tAFvXhWBaY {
  background: var(--token-86XDInJC_qo3);
}
.freeBox__jwYak {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.h6 {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.h6noHeader {
  display: none;
}
.text__tqQa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xPgC {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.freeBoxnoBody__xPgCZiS6C {
  display: none;
}
.freeBoxinformationNoDescription__xPgCR1XdH {
  display: none;
}
.freeBoxsuccessNoDescription__xPgCCQkJw {
  display: none;
}
.freeBoxerrorNoDescription__xPgCLb0Bt {
  display: none;
}
.freeBoxwarningNoDescription__xPgCHWBaY {
  display: none;
}
.text___2CPJn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___0HdtD {
  display: flex;
  position: relative;
  align-self: flex-start;
}
.freeBoxnoIcon___0HdtD3C73O {
  display: none;
}
.svg__ywfhy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
