.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  background: #ffffff80;
  position: relative;
  max-height: 100%;
  column-gap: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .root {
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    row-gap: 0px;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #418dff;
  height: 100%;
  width: auto;
  min-height: 0;
}
.patientName {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-right: 0px;
}
