.bookmark {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  color: var(--token-9iYGdL7i3GKE);
  max-height: 100%;
  min-height: none;
  width: 2em;
  height: 2em;
  justify-self: flex-start;
  transform: none;
}
.bookmarkbookmarked {
  color: var(--token-9iYGdL7i3GKE);
}
.bookmarkloadingBookmark {
  color: var(--token-4VVKgsFPDvBb);
  max-width: 100%;
  width: 3em;
  height: 3em;
}
