.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg___05T5I {
  position: relative;
  height: 1em;
}
.svg__zMtLi {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-AbJ0W-K7opJE);
  display: block;
  color: var(--token-WSOQKxqtSk7F);
  font-family: var(--token-HrYxe9bGiUsp);
  font-size: var(--token-3DlQ9mVQ6NFy);
  line-height: var(--token-shxF4F_ggPFB);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-2ER69RM1tTPk);
}
.pcls_VrnRcSXXhOc6 {
  background: var(--token-kujhYMFg165U);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3__oVlyk {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-iGfYmUJpbSN2);
  min-width: 0;
  padding: var(--token-VmuuBHNLOlxG);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-VmuuBHNLOlxG);
  padding-right: var(--token-VmuuBHNLOlxG);
}
.freeBox__fYHig {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-e7Bq8tgVCks9);
}
.text__a2Mfu {
  position: relative;
}
.freeBox__ecEkD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  padding: var(--token-VmuuBHNLOlxG);
}
.svg__z0QgN {
  position: relative;
  height: 1em;
}
.text__ljKyi {
  padding-left: 0px;
}
.svg__ceLsQ {
  position: relative;
  height: 1em;
}
