.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f4f6fa;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__ttAvM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 401px;
  height: 886px;
  max-width: 100%;
  padding: 8px;
}
.header___6UrwG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__xvafE {
  padding-top: 0px;
}
.picsAndName2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 31px;
  left: auto;
  top: auto;
  margin-left: 0px;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.freeBox__mrH0L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 6px 8px 0px 0px;
}
.freeBox__mrH0L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__mrH0L > :global(.__wab_flex-container) > *,
.freeBox__mrH0L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mrH0L > :global(.__wab_flex-container) > picture > img,
.freeBox__mrH0L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.name2 {
  display: block;
  font-size: 14px;
  font-family: "vazirmatn";
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.2;
  color: rgba(24, 29, 36, 1);
  position: relative;
  top: auto;
  left: auto;
  text-align: left;
  margin-top: calc(3px + 0px) !important;
}
.text__nrO8M {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  text-align: left;
  margin-top: calc(5px + 0px) !important;
  font-size: 10px;
}
.text___9Fkg4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  text-align: left;
  margin-top: calc(5px + 0px) !important;
  font-size: 12px;
}
.img {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 61px;
  margin-right: 9px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: fill;
}
.myProfile {
  background: none;
  width: 351px;
  height: auto;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  margin-top: 46px;
  display: none;
  padding: 16px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.myProfile > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.myProfile > :global(.__wab_flex-container) > *,
.myProfile > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.myProfile > :global(.__wab_flex-container) > picture > img,
.myProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.myProfile2 {
  display: block;
  font-size: 14px;
  font-family: "vazirmatn";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(24, 29, 36, 1);
  position: relative;
  text-align: left;
}
.svg___5QIhx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #416ce1;
  width: 15px;
  height: 21px;
  display: block;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.hospital {
  background: none;
  width: 351px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  margin-top: 18px;
  padding: 16px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.hospital > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.hospital > :global(.__wab_flex-container) > *,
.hospital > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hospital > :global(.__wab_flex-container) > picture > img,
.hospital
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.hospital2 {
  display: block;
  font-size: 14px;
  font-family: "vazirmatn";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(24, 29, 36, 1);
  position: relative;
  text-align: left;
  align-self: flex-end;
}
.hospital3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #416ce1;
  width: 15px;
  height: 21px;
  flex-shrink: 0;
}
.resetPassword {
  background: none;
  width: 351px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  margin-top: 18px;
  padding: 16px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.resetPassword > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.resetPassword > :global(.__wab_flex-container) > *,
.resetPassword > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.resetPassword > :global(.__wab_flex-container) > picture > img,
.resetPassword
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.resetPassword2 {
  display: block;
  font-size: 14px;
  font-family: "vazirmatn";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(24, 29, 36, 1);
  position: relative;
  text-align: left;
  align-self: flex-end;
}
.resetPass {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #416ce1;
  width: 17px;
  height: 21px;
  display: block;
  flex-shrink: 0;
}
.logout:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  margin-top: 81px;
  flex-shrink: 0;
}
.svg__fLi6W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.text__zjr24 {
  color: #ffffff;
  background: none;
  font-size: 12px;
}
.svg__uw4Qf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
