.laboratoryData {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #e8ecf2;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.laboratoryData > * {
  grid-column: 4;
}
.laboratoryData > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .laboratoryData > * {
    grid-column: 4;
  }
}
.laboratoryDataglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
  grid-column: 4;
}
.laboratoryDataglobal_unnamedGlobalGroupOfVariants2_unnamedVariant > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .laboratoryDataglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
  border-bottom: 1px solid var(--token-8PxxXPNrIohQ);
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9iYGdL7i3GKE);
  height: 1em;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  text-align: center;
  display: none;
}
.labData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.laboratoryResults {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 1s;
  margin-bottom: 0px;
  margin-top: 12px;
  background: none;
  align-self: center;
  flex-direction: column;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 8px 8px 20%;
}
.datetime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: #ffffff;
  left: auto;
  top: auto;
  min-width: 0;
  border-bottom: 1px solid var(--token-8PxxXPNrIohQ);
}
.freeBox__rsUXk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
  margin: 0px;
  border-bottom: 1px solid var(--token-8PxxXPNrIohQ);
}
.freeBox__rsUXk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__rsUXk > :global(.__wab_flex-container) > *,
.freeBox__rsUXk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rsUXk > :global(.__wab_flex-container) > picture > img,
.freeBox__rsUXk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__sTh7T {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.labTitles {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 14px;
  padding-top: 0px;
  background: #418dff1a;
  min-width: 0;
  border-bottom: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.freeBox__j2FXp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.factorName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  min-width: 0;
}
.factorValue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-left-style: dashed;
  border-left-width: 1px;
  font-size: 12px;
  min-width: 0;
}
.switchingTabs {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 8px 11.3% 5%;
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectUserToLoginPage:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectUserToNamespaceSelection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
