.imagingReport1 {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 8px;
  background: #e8ecf2;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.imagingReport1 > * {
  grid-column: 4;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 18%;
}
.header__cTveG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.imagingReportsList {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
  min-width: 0;
  padding: 8px;
}
.imagingReportsList > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-oYI7ebdZitcv));
  height: calc(100% + var(--token-oYI7ebdZitcv));
}
.imagingReportsList > :global(.__wab_flex-container) > *,
.imagingReportsList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.imagingReportsList > :global(.__wab_flex-container) > picture > img,
.imagingReportsList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-oYI7ebdZitcv);
}
.imagingReports {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 129px;
  max-width: 100%;
  margin-bottom: 0px;
  margin-top: calc(0px + var(--token-oYI7ebdZitcv)) !important;
  box-shadow: 0px 4px 10px 0px var(--token-MjYUWCcX38Uk);
  background: #ffffff;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 8px;
  border: 0.5px solid var(--token-PfYIgSrHm2bm);
}
.imagingReportPerDatetime {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  min-width: 0;
  min-height: 0;
  padding: 6px 8px;
  margin: 0px;
}
.imagingTitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
}
.imagingDatetime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 14px;
  padding-bottom: 0px;
  border-left-style: dashed;
  border-left-width: 1px;
  min-width: 0;
}
.imagingType {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
  padding: 2px 0px 0px;
}
.switchingTabs {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 8px 11.3% 5%;
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
