.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Hd7stmcqwCJ-);
  overflow: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  background: #ffffff;
  column-gap: 8px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.addNewPatientPostApi:global(.__wab_instance) {
  max-width: 100%;
}
.svg___2HtQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5Z2CI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.patientsListGetApi:global(.__wab_instance) {
  max-width: 100%;
}
.svg__w2Xc0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__s5Gsm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.admitPatient {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  background: none;
  row-gap: 12px;
  overflow: auto;
  left: auto;
  top: auto;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.text___80BTy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.patientDataSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  margin-bottom: 12px;
  min-width: 0;
  border-radius: 5px;
  padding: 4px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text___56Jqr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-bottom: 0.1px solid var(--token-tawGjJMbHvx-);
}
.fisrtLastNameSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text___8W3Y {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.fisrtLastNameInput {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px none var(--token-8PxxXPNrIohQ);
}
.lastName:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.firstName:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.nationalCodeSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__hqRdK {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.nationalCodeInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.dateOfBirthSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__hsIqe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.dateOfBirthInputSection {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  padding: 8px;
}
.yearOfBirthInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.monthOfBirthInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.dayOfBirthInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.genderSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text___5YgJh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.genderButton:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.radio__voaYo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__glcU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio__mS25G:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fy5Sn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.phoneNumberSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__wZeAs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.phoneNumberInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.admissionDataSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 5px;
  padding: 4px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__mqMeC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-bottom: 0.1px solid var(--token-tawGjJMbHvx-);
}
.wardIdNameSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__enJi2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.text__irkk9 {
  position: relative;
  width: 100%;
  height: 30px;
  max-width: 100%;
  align-self: flex-end;
  background: #ffffff;
  text-align: center;
  min-width: 0;
  flex-shrink: 0;
  border: 0.1px solid var(--token-tawGjJMbHvx-);
}
.serviceIdNameSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__old9B {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.serviceIdNameInput {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px none var(--token-8PxxXPNrIohQ);
}
.serviceIdInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.serviceNameInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.physicianIdNameSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__vaM0V {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.physicanIdNameInput {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px none var(--token-8PxxXPNrIohQ);
}
.physicianNameInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.physicanIdInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.roomBedSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text___7Daw6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.roomBedInput {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px none var(--token-8PxxXPNrIohQ);
}
.bedNameInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.roomNameInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.admissionDatetimeSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__gRxQa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.admissionDatetimeSection2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  padding: 8px;
}
.yearOfAdmissionInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.monthOfAdmissionInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.dayOfAdmissionInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.dismissedSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__mTz8M {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.dismissedButton:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.radio___80Wjl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__eVavt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio___21TqN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mhfj7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dismissionDatetimeSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__qnn1R {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.dismissionDatetimeSection2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  padding: 8px;
}
.yearOfDismissionInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.monthOfDismissionInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.dayOfDismissionInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.admitPatientButton:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__kvnR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__eEbA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.manualPatientsEndpoint:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  overflow: auto;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 12px;
}
.patientCard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: 2.5px 2.5px 5px 0px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  min-width: 0;
  border-radius: 9px;
  padding: 8px;
  border: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.patientNameBookmarkIcon {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  align-self: center;
  height: 50px;
  column-gap: 2px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .patientNameBookmarkIcon {
    height: 45px;
    flex-shrink: 0;
  }
}
.editDeletePatient:global(.__wab_instance) {
  max-width: 100%;
}
.svg__g0IB2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5I8K {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.editDeletePatient2:global(.__wab_instance) {
  max-width: 100%;
}
.svg___9H6K1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9Nu0X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.firstLastName {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  white-space: pre-wrap;
  align-self: center;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
  padding: 0px;
}
.bookmarkIcon:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .bookmarkIcon:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.wardBookmarkType {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 30px 5px 0px;
}
.roomBed {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: left;
  white-space: pre-wrap;
  font-family: var(--VazirmatnCustom);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
}
.bookmarkType2 {
  position: relative;
  max-width: 100%;
  text-align: left;
  align-self: center;
  color: var(--token-IYO13gyYJHXG);
  font-size: var(--token-CdE1_0ZaCyT1);
  font-family: var(--VazirmatnCustom);
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  background: var(--token-Hd7stmcqwCJ-);
}
.upl5OadPatientHistory:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 760px) {
  .upl5OadPatientHistory:global(.__wab_instance) {
    width: auto;
  }
}
.text__pzks {
  padding-top: 0px;
  font-size: var(--token-CdE1_0ZaCyT1);
  font-family: var(--VazirmatnCustom);
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none !important;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__pzks {
    font-size: 10px;
  }
}
.svg__ohbHj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8BV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.wardName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: right;
  white-space: pre-wrap;
  font-family: var(--VazirmatnCustom);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
}
.roomBedPart {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 30px 5px 10px;
}
.roomBedName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: right;
  white-space: pre-wrap;
  font-family: var(--VazirmatnCustom);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
}
.patientDataButtons {
  position: relative;
  max-width: 100%;
  height: auto;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  min-width: 0;
  padding: 6px 0px 0px;
  border-top: 0.5px solid var(--token-pRs3-4jrQ4XQ);
}
.patientProfile {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  object-position: center center;
  width: 20px;
  flex-shrink: 0;
}
.patientProfile > picture > img {
  object-fit: contain;
  object-position: center center;
}
.consultNotify {
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  object-position: center center;
  flex-shrink: 0;
}
.consultNotify > picture > img {
  object-fit: contain;
  object-position: center center;
}
.radiologyReport {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  object-position: center center;
  width: 20px;
  flex-shrink: 0;
}
.radiologyReport > picture > img {
  object-fit: contain;
  object-position: center center;
}
.laboratoryData {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  object-position: center center;
  width: 20px;
  flex-shrink: 0;
}
.laboratoryData > picture > img {
  object-fit: contain;
  object-position: center center;
}
.text__nYfTi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 4px;
}
.editManualPatient:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  overflow: auto;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 12px;
}
.conditionGuard:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.editAdmittedPatient {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  background: none;
  row-gap: 12px;
  overflow: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.editPatientDataSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  margin-bottom: 12px;
  min-width: 0;
  border-radius: 5px;
  padding: 4px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__bgNi4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-bottom: 0.1px solid var(--token-tawGjJMbHvx-);
}
.editFisrtLastNameSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__g6Eez {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.editFisrtLastNameInput {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px none var(--token-8PxxXPNrIohQ);
}
.edittedLastName:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedFirstName:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedNationalCodeSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__tsYx4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.edittedNationalCodeInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedDateOfBirthSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__e2Euz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.edittedDateOfBirthInputSection {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  padding: 8px;
}
.edittedYearOfBirthInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedMonthOfBirthInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedDayOfBirthInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedGenderSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__x5Mj0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.edittedGenderButton:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.radio__d3CGy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iGaoA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio__i4419:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nt3E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.edittedPhoneNumberSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__otKyu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.edittedPhoneNumberInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedAdmissionDataSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 5px;
  padding: 4px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__wJuJk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-bottom: 0.1px solid var(--token-tawGjJMbHvx-);
}
.edittedWardIdNameSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text___8UsyQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.text__xkwSr {
  position: relative;
  width: 100%;
  height: 30px;
  max-width: 100%;
  align-self: flex-end;
  background: #ffffff;
  text-align: center;
  min-width: 0;
  flex-shrink: 0;
  border: 0.1px solid var(--token-tawGjJMbHvx-);
}
.edittedServiceIdNameSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__b45X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.edittedServiceIdNameInput {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px none var(--token-8PxxXPNrIohQ);
}
.edittedServiceIdInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedServiceNameInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedPhysicianIdNameSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__i2Wds {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.edittedPhysicanIdNameInput {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px none var(--token-8PxxXPNrIohQ);
}
.edittedPhysicianNameInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedPhysicanIdInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedRoomBedSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__vapnA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.edittedRoomBedInput {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px none var(--token-8PxxXPNrIohQ);
}
.edittedBedNameInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedRoomNameInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedAdmissionDatetimeSection3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__qZoP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.edittedAdmissionDatetimeSection4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  padding: 8px;
}
.edittedYearOfAdmissionInput2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedMonthOfAdmissionInput2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedDayOfAdmissionInput2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedDismissedSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__mPkgM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.edittedDismissedButton:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.radio__muiek:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__osgrd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio__l38RD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__pw9P1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.edittedDismissionDatetimeSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.text__beIHr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
}
.edittedDismissionDatetimeSection2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  padding: 8px;
}
.edittedYearOfDismissionInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedMonthOfDismissionInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.edittedDayOfDismissionInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.editPatientButton:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__yyAv {
  padding-left: 0px;
}
.svg__mGggF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__f88Dc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.deletePatient:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ullGc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.wardModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__yeVlU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.searchWardInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ce12W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg___1ClGf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.getWardApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xPsHt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  overflow: auto;
  min-width: 0;
  padding: 8px;
}
.text__m4Xuu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
  border: 0.1px solid var(--token-tawGjJMbHvx-);
}
