.consultList {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Hd7stmcqwCJ-);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.consultList > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .consultList > * {
    grid-column: 4;
  }
}
.redirectToInlabLogin:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.redirectToNamespaceSelection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  background: #ffffff;
  padding: 8px;
  border-bottom: 0.5px solid #000000;
}
.patientDataForHeader:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.patientNameAgeGender {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.pageContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.consultListContent {
  display: block;
  position: fixed;
  height: auto;
  max-width: 100%;
  width: 100%;
  left: 0px;
  top: 50px;
  z-index: 1;
  overflow: auto;
  bottom: 70px;
  min-width: 0;
}
.getConsult:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  min-width: 0;
  min-height: 0;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .getConsult:global(.__wab_instance) {
    left: 0px;
    top: 0px;
  }
}
.لطفامنتطربمانید {
  position: relative;
  width: 60%;
  background: var(--token-Hd7stmcqwCJ-);
  box-shadow: 0px 2px 5px 0px var(--token-5OZEb1MGGCI4);
  margin-left: 20%;
  font-weight: 700;
  align-self: center;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  padding: 8px;
}
.مشاورهایبرایبیمارثبتنشدهاست {
  position: relative;
  width: 20%;
  height: auto;
  margin-top: 50px;
  background: var(--token-Hd7stmcqwCJ-);
  box-shadow: 0px 4px 16px 0px var(--token-5OZEb1MGGCI4);
  margin-left: 40%;
  border-radius: 5px;
  padding: 5px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .مشاورهایبرایبیمارثبتنشدهاست {
    width: 80%;
    margin-left: 10%;
  }
}
.sentConsultCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 2px 2px 5px 0px var(--token-WxvvgatuPYoJ);
  flex-grow: 1;
  overflow: auto;
  margin-bottom: 5px;
  min-width: 0;
  border-radius: 9px;
  border: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.sentConsultCard > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.sentConsultCard > :global(.__wab_flex-container) > *,
.sentConsultCard > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sentConsultCard > :global(.__wab_flex-container) > picture > img,
.sentConsultCard
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.sentConsultEmergencyStatus {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.electiveSign {
  display: block;
  position: absolute;
  width: 10px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
  background: var(--token-F0UhOcqDIzJI);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  flex-shrink: 0;
  min-height: 0;
}
.emergentSign {
  display: block;
  position: absolute;
  width: 10px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
  background: var(--token-b7Myz3RtiwPQ);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  flex-shrink: 0;
  min-height: 0;
}
.sentConsultContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.senderRecieverTags {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.senderReceiver {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  width: 100%;
  min-width: 0;
}
.senderReceiverService {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.senderService {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .senderService {
    font-size: 13px;
  }
}
.arrow {
  object-fit: cover;
  max-width: 100%;
  flex-grow: 1;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.receiverService {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .receiverService {
    font-size: 13px;
  }
}
.senderReceiverDoctor {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.senderDoctor {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  font-family: var(--VazirmatnCustom);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  font-size: var(--token-CdE1_0ZaCyT1);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .senderDoctor {
    font-size: 11px;
  }
}
.receiverDoctor {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 10px;
  font-family: var(--VazirmatnCustom);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  font-size: var(--token-CdE1_0ZaCyT1);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .receiverDoctor {
    font-size: 11px;
  }
}
.tagsAndDelete {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.draftTag {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  width: auto;
  align-self: flex-start;
  background: #ffffff;
  font-family: var(--VazirmatnCustom);
  color: #ff4d4f;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  font-size: 10px;
  margin-bottom: 5px;
  padding: 4px;
}
.repliedStatus {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  background: #ffffff;
  left: auto;
  top: auto;
  width: 81px;
  font-family: var(--VazirmatnCustom);
  color: var(--token-F0UhOcqDIzJI);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  align-self: flex-start;
  text-align: center;
  font-size: var(--token-CdE1_0ZaCyT1);
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .repliedStatus {
    left: auto;
    top: auto;
  }
}
.empty {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  background: #ffffff;
  left: auto;
  top: auto;
  width: 81px;
  font-family: var(--VazirmatnCustom);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  align-self: flex-start;
  text-align: center;
  font-size: var(--token-CdE1_0ZaCyT1);
  color: #ffffff;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .empty {
    left: auto;
    top: auto;
  }
}
.deleteConsult {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-b7Myz3RtiwPQ);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.consultSendDateRepliedStatus {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  padding: 4px;
}
.replyConsultButton {
  position: relative;
  width: 99px;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: linear-gradient(90deg, #000e7a 0%, #386fff 100%);
  color: #ffffff;
  font-size: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 7px;
}
.consultDetailButton {
  position: relative;
  width: 99px;
  height: 29px;
  max-width: 100%;
  align-self: center;
  background: linear-gradient(90deg, #000e7a 0%, #386fff 100%);
  color: #ffffff;
  font-size: var(--token-CdE1_0ZaCyT1);
  flex-shrink: 0;
  border-radius: 10px;
  padding: 5px;
}
.consultDraftSendButton {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: linear-gradient(90deg, #000e7a 0%, #386fff 100%);
  color: #ffffff;
  font-size: 10px;
  border-radius: 10px;
  padding: 7px;
}
.consultSendDate {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  width: auto;
  align-self: center;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .consultSendDate {
    font-size: var(--token-CdE1_0ZaCyT1);
  }
}
.newConsult:global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 2;
  position: fixed;
  bottom: 13%;
  right: 3%;
}
.svg__myV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ig1Ws {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.switchingTabs {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding-bottom: 5px;
  padding-right: 40px;
  padding-left: 40px;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 10px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
}
.homepage {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 0;
  border-right: 1px none #aeaeae;
}
.homepage > picture > img {
  object-fit: fill;
}
.consultList2 {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 0;
  border-left: 1px solid #00000045;
}
.consultList2 > picture > img {
  object-fit: fill;
}
.patientProfile {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 0;
  border-left: 1px solid #00000045;
}
.patientProfile > picture > img {
  object-fit: fill;
}
.imagingReportList {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 1px;
  border-right: 1px solid #00000045;
  border-left: 1px solid #00000045;
}
.imagingReportList > picture > img {
  object-fit: fill;
}
.laboratoryData {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  border-right-style: none;
  border-right-width: 1px;
  height: 25px;
  margin: 0;
}
.laboratoryData > picture > img {
  object-fit: fill;
}
.modalDeleteConsultConfirmation:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modalDeleteConsultConfirmation__modal :global(.ant-modal-content) {
  background: #ffffff;
  outline: none;
}
.confirmationContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
}
.confirmationYesNo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px;
}
.noConfirm:global(.__wab_instance) {
  max-width: 100%;
}
.text__yYDiG {
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none !important;
}
.svg__aHKg1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ugo2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.confirm:global(.__wab_instance) {
  max-width: 100%;
  margin-left: 30px;
}
.text__cplVd {
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none !important;
}
.svg___0RIcp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__z0NYn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.unsuccessfulDeleteConsult:global(.__wab_instance) {
  max-width: 100%;
  width: 184px;
}
.text__xy77V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mXofr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none !important;
  min-width: 0;
}
.svg__k1Ajv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  background: #ffffff;
  min-width: 0;
}
.text__kRnQ {
  background: none;
  margin-bottom: 10px;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
}
.guide2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  color: #000000b3;
  font-family: var(--VazirmatnCustom);
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  padding-top: 0px;
  min-width: 0;
}
