.header {
  position: relative;
  border-bottom-color: var(--token-PfYIgSrHm2bm);
  background: #ffffff;
  max-width: 100%;
  height: auto;
  width: 100%;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 5px;
  padding: 12px;
  border-width: 0.5px;
  border-style: solid;
}
.freeBox__hhLxL {
  display: flex;
  position: relative;
  align-self: center;
}
.svg__b44PP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: auto;
  height: 100%;
  min-height: 0;
}
.freeBox__agbyP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  padding-right: 4px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren {
  text-align: right;
}
