.paraclinicReportsList {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 8px;
  background: var(--token-Hd7stmcqwCJ-);
  overflow: auto;
  max-width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.paraclinicReportsList > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportsList > * {
    grid-column: 4;
  }
}
.paraclinicReportsListbookmarked > * {
  grid-column: 4;
}
.redirectToInlabLogin:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectToNamespaceSelection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: #ffffff;
  overflow: hidden;
  max-height: 32px;
  right: 0;
  border-bottom-color: #ccccd2;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px 12px 6px;
  border-width: 0px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 760px) {
  .header {
    z-index: 2;
    padding: 6px;
  }
}
.lastPatient {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 25%;
  background: none;
  border-radius: 5px;
  padding: 4px;
  border: 0.2px solid var(--token-9iYGdL7i3GKE);
}
.lastPatient > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.lastPatient > :global(.__wab_flex-container) > *,
.lastPatient > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.lastPatient > :global(.__wab_flex-container) > picture > img,
.lastPatient
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .lastPatient {
    width: 100%;
    max-width: 20%;
    min-width: 0;
    padding: 2px;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .lastPatient > :global(.__wab_flex-container) {
    justify-content: space-around;
    min-width: 0;
    margin-left: calc(0px - 2px);
    width: calc(100% + 2px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .lastPatient > :global(.__wab_flex-container) > *,
  .lastPatient > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .lastPatient > :global(.__wab_flex-container) > picture > img,
  .lastPatient
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 2px;
    margin-top: 0px;
  }
}
.last {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.last * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 760px) {
  .last {
    width: 18px;
    height: 18px;
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    transform-style: preserve-3d;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .last * {
    transform-style: preserve-3d;
  }
}
.text__t1Isb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  font-size: var(--token-CdE1_0ZaCyT1);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__t1Isb {
    margin-right: 0px;
    margin-top: calc(0px + 0px) !important;
    margin-bottom: 0px;
    margin-left: calc(0px + 2px) !important;
    font-size: 10px;
  }
}
.getPatient:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 28px;
  min-width: 0;
}
.patientNameAgeGender {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 30px;
  font-size: 16px;
  color: #70727a;
  white-space: pre;
  min-width: 0;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .patientNameAgeGender {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.saveAdmissionDatetime:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.nextPatient {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 25%;
  background: none;
  border-radius: 5px;
  padding: 4px;
  border: 0.2px solid var(--token-9iYGdL7i3GKE);
}
.nextPatient > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.nextPatient > :global(.__wab_flex-container) > *,
.nextPatient > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.nextPatient > :global(.__wab_flex-container) > picture > img,
.nextPatient
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .nextPatient {
    width: 100%;
    max-width: 20%;
    min-width: 0;
    padding: 2px;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .nextPatient > :global(.__wab_flex-container) {
    justify-content: space-around;
    min-width: 0;
    margin-left: calc(0px - 2px);
    width: calc(100% + 2px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .nextPatient > :global(.__wab_flex-container) > *,
  .nextPatient > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .nextPatient > :global(.__wab_flex-container) > picture > img,
  .nextPatient
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 2px;
    margin-top: 0px;
  }
}
.text__ghl3K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  font-size: var(--token-CdE1_0ZaCyT1);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__ghl3K {
    margin-right: 0px;
    margin-top: calc(0px + 0px) !important;
    margin-bottom: 0px;
    margin-left: calc(0px + 2px) !important;
    font-size: 10px;
  }
}
.next {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .next {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
}
.tabButtons {
  display: flex;
  position: fixed;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 32px;
  z-index: 2;
  background: #ffffff;
  overflow: hidden;
  max-height: 35px;
  right: 0;
  border-top-style: none;
  border-top-width: 0px;
  border-right-style: none;
  border-right-width: 0px;
  border-left-style: none;
  border-left-width: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 2px;
  border-bottom: 1px solid #ccccd2;
}
.tabButtons > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-height: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.tabButtons > :global(.__wab_flex-container) > *,
.tabButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tabButtons > :global(.__wab_flex-container) > picture > img,
.tabButtons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .tabButtons {
    z-index: 2;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .tabButtons > :global(.__wab_flex-container) {
    margin-left: calc(0px - 2px);
    width: calc(100% + 2px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .tabButtons > :global(.__wab_flex-container) > *,
  .tabButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .tabButtons > :global(.__wab_flex-container) > picture > img,
  .tabButtons
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 2px;
    margin-top: 0px;
  }
}
.media:global(.__wab_instance) {
  max-width: 100%;
}
.text__akAEr {
  color: var(--token-IYO13gyYJHXG);
  font-size: var(--token-CdE1_0ZaCyT1);
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__akAEr {
    font-size: var(--token-CdE1_0ZaCyT1);
  }
}
.svg__iYqxO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lbzCd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paraclinicsButton:global(.__wab_instance) {
  max-width: 100%;
}
.text__dx2Ic {
  color: var(--token-IYO13gyYJHXG);
  font-size: var(--token-CdE1_0ZaCyT1);
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__dx2Ic {
    font-size: var(--token-CdE1_0ZaCyT1);
  }
}
.svg__rzi1X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lnf2X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paraclinicReports:global(.__wab_instance) {
  max-width: 100%;
}
.text__b01Ci {
  color: var(--token-IYO13gyYJHXG);
  text-align: right;
  font-size: var(--token-CdE1_0ZaCyT1);
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__b01Ci {
    font-size: var(--token-CdE1_0ZaCyT1);
  }
}
.svg__fndFz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ke2X9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paraclinicsReport:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  width: 100%;
  overflow: auto;
  z-index: 1;
  left: 0px;
  top: 160px;
  bottom: 60px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 17px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicsReport:global(.__wab_instance) {
    z-index: 1;
    left: 0px;
    top: 160px;
    position: fixed;
    padding-top: 0px;
    bottom: 66px;
    margin: 0px;
  }
}
.viewPacsButton:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  height: 30px;
  align-self: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .viewPacsButton:global(.__wab_instance) {
    margin-top: 25px;
    height: 40px;
    left: auto;
    top: auto;
  }
}
.text___4Thhk {
  font-size: 16px;
  text-align: center;
  align-self: stretch;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text___4Thhk {
    text-align: center;
    align-self: center;
  }
}
.svg__tMj4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gjLoE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pIosL {
  position: fixed;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 68px;
  z-index: 1;
  text-align: center;
  background: #ffffff80;
  right: 0px;
  font-size: 12px;
  min-width: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__pIosL {
    font-size: 10px;
    display: block;
  }
}
.text__scVr8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  margin-top: 12px;
  background: #ffffff;
  white-space: pre-wrap;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__scVr8 {
    left: auto;
    top: auto;
    display: block;
  }
}
.text__vH4JT {
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  margin-top: 12px;
  background: #ffffff;
  white-space: pre-wrap;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  color: #cb1616;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__vH4JT {
    display: block;
  }
}
.paraclinicReportsSection {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  left: auto;
  top: auto;
  padding-top: 15px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.paraclinicReportsSection > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportsSection {
    overflow: auto;
    padding-top: 12px;
    position: relative;
    left: auto;
    top: auto;
    display: grid;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportsSection > * {
    grid-column: 4;
  }
}
.paraclinicReportSection {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  left: auto;
  top: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.paraclinicReportSection > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportSection > * {
    grid-column: 4;
  }
}
.paraclinicReportList2 {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  background: none;
  flex-grow: 1;
  width: 100%;
  z-index: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
  margin: 0px;
}
.paraclinicReportList2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.paraclinicReportList2 > :global(.__wab_flex-container) > *,
.paraclinicReportList2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.paraclinicReportList2 > :global(.__wab_flex-container) > picture > img,
.paraclinicReportList2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportList2 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportList2 > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportList2 > :global(.__wab_flex-container) > *,
  .paraclinicReportList2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .paraclinicReportList2 > :global(.__wab_flex-container) > picture > img,
  .paraclinicReportList2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.paraclinicReportCard {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  flex-grow: 1;
  margin-bottom: 10px;
  box-shadow: 0px 2px 14px 0px #0000001f;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-left: 0px;
  align-self: center;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  border-radius: 5px;
  padding: 16px 20px;
  border: 0.5px solid #d3d3d3;
}
.paraclinicReportCard > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.paraclinicReportCard > :global(.__wab_flex-container) > *,
.paraclinicReportCard
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.paraclinicReportCard > :global(.__wab_flex-container) > picture > img,
.paraclinicReportCard
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportCard {
    width: 100%;
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
    border-width: 0px;
    border-style: none;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportCard > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.paraclinicTitleDatetime {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: none;
  border-bottom-width: 0px;
  margin-bottom: 8px;
  min-width: 0;
  padding: 0px;
}
.paraclinicTitleDatetime > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.paraclinicTitleDatetime > :global(.__wab_flex-container) > *,
.paraclinicTitleDatetime
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.paraclinicTitleDatetime > :global(.__wab_flex-container) > picture > img,
.paraclinicTitleDatetime
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicTitleDatetime {
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
  }
}
.paraclinicName2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  align-self: center;
  min-width: 0;
}
.paraclinicDatetime2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: right;
  font-size: 16px;
  line-height: 18px;
  align-self: center;
  min-width: 0;
  border-left: 0px none var(--token-IYO13gyYJHXG);
}
.paraclinicTitle {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.previousAdmission:global(.__wab_instance) {
  max-width: 100%;
}
.svg__zUnOu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vqGHw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paraclinicType {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: right;
  width: 100%;
  white-space: pre-wrap;
  align-self: center;
  line-height: 18px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicType {
    font-size: 16px;
    text-align: right;
    width: 100%;
    max-width: 100%;
    align-self: center;
    line-height: 18px;
    min-width: 0;
  }
}
.apiFetcherComponentPlusCache:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0px;
  top: 160px;
  z-index: 1;
  position: fixed;
  bottom: 60px;
  width: 100%;
  overflow: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 760px) {
  .apiFetcherComponentPlusCache:global(.__wab_instance) {
    padding: 4px 8px;
  }
}
.viewPacsButton2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  height: 30px;
  align-self: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .viewPacsButton2:global(.__wab_instance) {
    margin-top: 25px;
    height: 40px;
    left: auto;
    top: auto;
  }
}
.text__vxby8 {
  font-size: 16px;
  text-align: center;
  align-self: stretch;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__vxby8 {
    text-align: center;
    align-self: center;
  }
}
.svg__yOLtS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___0YKrV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tiGvg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  text-align: center;
  background: #ffffff80;
  right: auto;
  font-size: 12px;
  min-width: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__tiGvg {
    font-size: 10px;
    left: auto;
    top: auto;
    right: auto;
    display: block;
  }
}
.text__cwGZz {
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  margin-top: 12px;
  background: #ffffff;
  white-space: pre-wrap;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__cwGZz {
    left: auto;
    top: auto;
    display: block;
  }
}
.text___5EVZc {
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  margin-top: 12px;
  background: #ffffff;
  white-space: pre-wrap;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  color: #cb1616;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text___5EVZc {
    left: auto;
    top: auto;
    display: block;
  }
}
.paraclinicReportsSection2 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  left: auto;
  top: auto;
  padding-top: 15px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.paraclinicReportsSection2 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportsSection2 {
    overflow: auto;
    padding-top: 12px;
    position: relative;
    left: auto;
    top: auto;
    display: grid;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportsSection2 > * {
    grid-column: 4;
  }
}
.paraclinicReportSection2 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  left: auto;
  top: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.paraclinicReportSection2 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportSection2 > * {
    grid-column: 4;
  }
}
.paraclinicReportList3 {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  background: none;
  flex-grow: 1;
  width: 100%;
  z-index: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
  margin: 0px;
}
.paraclinicReportList3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.paraclinicReportList3 > :global(.__wab_flex-container) > *,
.paraclinicReportList3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.paraclinicReportList3 > :global(.__wab_flex-container) > picture > img,
.paraclinicReportList3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportList3 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportList3 > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportList3 > :global(.__wab_flex-container) > *,
  .paraclinicReportList3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .paraclinicReportList3 > :global(.__wab_flex-container) > picture > img,
  .paraclinicReportList3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.paraclinicReportCard2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  flex-grow: 1;
  margin-bottom: 10px;
  box-shadow: 0px 2px 14px 0px #0000001f;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-left: 0px;
  align-self: center;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  border-radius: 5px;
  padding: 16px 20px;
  border: 0.5px solid #d3d3d3;
}
.paraclinicReportCard2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.paraclinicReportCard2 > :global(.__wab_flex-container) > *,
.paraclinicReportCard2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.paraclinicReportCard2 > :global(.__wab_flex-container) > picture > img,
.paraclinicReportCard2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportCard2 {
    width: 100%;
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
    border-width: 0px;
    border-style: none;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicReportCard2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.paraclinicTitleDatetime2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: none;
  border-bottom-width: 0px;
  margin-bottom: 8px;
  min-width: 0;
  padding: 0px;
}
.paraclinicTitleDatetime2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.paraclinicTitleDatetime2 > :global(.__wab_flex-container) > *,
.paraclinicTitleDatetime2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.paraclinicTitleDatetime2 > :global(.__wab_flex-container) > picture > img,
.paraclinicTitleDatetime2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicTitleDatetime2 {
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
  }
}
.paraclinicName3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  align-self: center;
  min-width: 0;
}
.paraclinicDatetime3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: right;
  font-size: 16px;
  line-height: 18px;
  align-self: center;
  min-width: 0;
  border-left: 0px none var(--token-IYO13gyYJHXG);
}
.paraclinicTitle2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.previousAdmission2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__aeWsE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qnDuT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paraclinicType2 {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: right;
  width: 100%;
  white-space: pre-wrap;
  align-self: center;
  line-height: 18px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicType2 {
    font-size: 16px;
    text-align: right;
    width: 100%;
    max-width: 100%;
    align-self: center;
    line-height: 18px;
    min-width: 0;
  }
}
.paraclinics:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  width: 100%;
  overflow: auto;
  z-index: 1;
  left: 0px;
  top: 160px;
  height: auto;
  bottom: auto;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 4px 17px 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinics:global(.__wab_instance) {
    z-index: 1;
    left: 0px;
    top: 160px;
    position: fixed;
    padding-top: 8px;
    bottom: 66px;
    margin: 0px;
  }
}
.text__plPBz {
  position: fixed;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 17px;
  top: 68px;
  z-index: 1;
  text-align: center;
  background: #ffffff80;
  right: 17px;
  font-size: 12px;
  min-width: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__plPBz {
    display: block;
  }
}
.text__oVF {
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  margin-top: 12px;
  background: #ffffff;
  white-space: pre-wrap;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  color: #cb1616;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.text___26En9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  margin-top: 12px;
  background: #ffffff;
  white-space: pre-wrap;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.paraclinicsList {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px 0px 0px;
}
.paraclinicsList > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.paraclinicsList > :global(.__wab_flex-container) > *,
.paraclinicsList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.paraclinicsList > :global(.__wab_flex-container) > picture > img,
.paraclinicsList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.paraclinicNameDatetime {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  align-self: center;
  flex-direction: row;
  min-width: 0;
  padding: 4px;
}
.paraclinicNameDatetime > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.paraclinicNameDatetime > :global(.__wab_flex-container) > *,
.paraclinicNameDatetime
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.paraclinicNameDatetime > :global(.__wab_flex-container) > picture > img,
.paraclinicNameDatetime
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicNameDatetime > :global(.__wab_flex-container) {
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicNameDatetime > :global(.__wab_flex-container) > *,
  .paraclinicNameDatetime
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .paraclinicNameDatetime > :global(.__wab_flex-container) > picture > img,
  .paraclinicNameDatetime
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 760px) {
  .button:global(.__wab_instance) {
    width: auto;
  }
}
.text__c2Flb {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__c2Flb {
    font-size: var(--token-CdE1_0ZaCyT1);
  }
}
.svg__fkMb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cqwXc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paraclinicName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicName {
    white-space: pre-wrap;
    left: auto;
    top: auto;
    align-self: center;
  }
}
.paraclinicDatetime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .paraclinicDatetime {
    left: auto;
    top: auto;
  }
}
.patientMedia:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 10%;
  top: 160px;
  z-index: 1;
  position: fixed;
  bottom: 60px;
  width: 100%;
  text-align: center;
  justify-self: flex-start;
  right: 10%;
  overflow: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.mediaList {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  min-width: 0;
  padding: 4px;
}
.mediaObject {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding: 4px;
  border-bottom: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.deleteMedia:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  align-self: flex-start;
}
.svg__avVvt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kPYg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.mediaImage {
  object-fit: cover;
  max-width: 100%;
}
.mediaImage > picture > img {
  object-fit: cover;
}
.title {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.description {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__yUvc3 {
  position: fixed;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 68px;
  z-index: 1;
  min-width: 0;
}
.text__blhd0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  padding: 4px;
}
.paraclinicReportModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.paraclinicReportModal__modal :global(.ant-modal-content) {
  color: #000000;
  background: #ffffff;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  line-height: 1.5;
  outline: none;
}
.paraclinicReportModal__modal :global(.ant-modal-close) {
  color: #000000;
  font-family: var(--VazirmatnCustom);
  background: #ffffff;
  outline: none;
}
.freeBox__nwr7J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 4px;
}
.freeBox__nwr7J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.freeBox__nwr7J > :global(.__wab_flex-container) > *,
.freeBox__nwr7J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nwr7J > :global(.__wab_flex-container) > picture > img,
.freeBox__nwr7J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.radiologyReportText {
  text-align: right;
  font-size: var(--token-sOr3fJ5Up5fq);
  line-height: 1.5;
  user-select: text;
  white-space: pre-wrap;
  width: 100%;
  letter-spacing: normal;
  min-width: 0;
  border-radius: 5px;
  padding: 4px;
  border-bottom: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.reportSummarySection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #30a46c;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
  border: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.reportSummarySection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.reportSummarySection > :global(.__wab_flex-container) > *,
.reportSummarySection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.reportSummarySection > :global(.__wab_flex-container) > picture > img,
.reportSummarySection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__mYjDu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.text__w3C8P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-F0UhOcqDIzJI);
  color: #ffffff;
  min-width: 0;
}
.reportSummary:global(.__wab_instance) {
  max-width: 95%;
  width: 100%;
  min-width: 0;
}
.svg__yRqFj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg___19YlM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.sendReportSummary:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wgLu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__aNaLb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___9Tdjg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
.radiologyReportDatetime2 {
  font-weight: 400;
  background: #ffffff;
  border-bottom: 1px solid #e7e7e7;
}
.freeBox__kWfUk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.copy {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}
.text__oz5Rb {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-IYO13gyYJHXG);
  text-align: right;
  font-size: var(--token-CdE1_0ZaCyT1);
  min-width: 0;
}
.uploadMediaModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.uploadMediaModal__modal :global(.ant-modal-content) {
  color: #000000;
  background: #ffffff;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  line-height: 1.5;
  outline: none;
}
.uploadMediaModal__modal :global(.ant-modal-close) {
  color: #000000;
  font-family: var(--VazirmatnCustom);
  background: #ffffff;
  outline: none;
}
.freeBox__p8Zz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__p8Zz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__p8Zz > :global(.__wab_flex-container) > *,
.freeBox__p8Zz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p8Zz > :global(.__wab_flex-container) > picture > img,
.freeBox__p8Zz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.uploadFileComponent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__n2DhP {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__n2DhP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__n2DhP > :global(.__wab_flex-container) > *,
.freeBox__n2DhP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n2DhP > :global(.__wab_flex-container) > picture > img,
.freeBox__n2DhP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__pBWxZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-F0UhOcqDIzJI);
  color: #ffffff;
  min-width: 0;
  display: none;
  padding: 4px;
}
.titleTextinput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ub3Iw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg__wcZLt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.descriptionTextInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__n4MYv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg___8WKjn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.radiologyReportDatetime3 {
  font-weight: 700;
  background: #ffffff;
  border-bottom: 1px solid #e7e7e7;
}
.deleteMediaAlarm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.deleteMediaAlarm__modal :global(.ant-modal-content) {
  color: #000000;
  background: #ffffff;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  line-height: 1.5;
  outline: none;
}
.deleteMediaAlarm__modal :global(.ant-modal-close) {
  color: #000000;
  font-family: var(--VazirmatnCustom);
  background: #ffffff;
  outline: none;
}
.freeBox__pLdfP {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pLdfP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__pLdfP > :global(.__wab_flex-container) > *,
.freeBox__pLdfP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pLdfP > :global(.__wab_flex-container) > picture > img,
.freeBox__pLdfP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___7RZl5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  color: #ff3535;
  min-width: 0;
}
.freeBox__d6X4C {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__d6X4C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__d6X4C > :global(.__wab_flex-container) > *,
.freeBox__d6X4C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d6X4C > :global(.__wab_flex-container) > picture > img,
.freeBox__d6X4C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.cancel:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kXu9Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7SujB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.ok:global(.__wab_instance) {
  max-width: 100%;
}
.svg__bo5Gi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nbO97 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___5XvUz {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
}
.switchingTabs {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 2;
  right: 0;
  bottom: 1%;
  margin-top: 45px;
  overflow: visible;
  padding: 20px 40px 5px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .switchingTabs {
    z-index: 2;
    padding-right: 18px;
    padding-left: 18px;
  }
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.lastPatient2 {
  object-fit: cover;
  max-width: 100%;
  transform: none;
  width: 15%;
  color: var(--token-9iYGdL7i3GKE);
  height: 25px;
  align-self: center;
  border-right: 0.5px solid var(--token-8PxxXPNrIohQ);
  border-left: 0px none var(--token-8PxxXPNrIohQ);
}
.homepage {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 15%;
  height: 25px;
  margin: 0;
  border-right: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.homepage > picture > img {
  object-fit: fill;
}
.consult {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 15%;
  height: 25px;
  align-self: center;
  margin: 0;
  border-right: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.consult > picture > img {
  object-fit: fill;
}
.patientProfile {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 15%;
  height: 25px;
  margin: 0;
  border-right: 0.5px solid var(--token-8PxxXPNrIohQ);
  border-left: 0px none #0000004d;
}
.patientProfile > picture > img {
  object-fit: fill;
}
.radiologyReport {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 0;
  border-right: 0.5px solid var(--token-8PxxXPNrIohQ);
  border-left: 0px none #0000004d;
}
.radiologyReport > picture > img {
  object-fit: fill;
}
.laboratory {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 15%;
  height: 25px;
  margin: 0;
  border-right: 0.5px solid var(--token-8PxxXPNrIohQ);
  border-left: 0px none #0000004d;
}
.laboratory > picture > img {
  object-fit: fill;
}
.bookmarkIcon:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 20%;
  height: 25px;
  align-self: center;
}
.nextPatient2 {
  object-fit: cover;
  max-width: 100%;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  width: 15%;
  color: var(--token-9iYGdL7i3GKE);
  height: 25px;
  align-self: center;
  transform-style: preserve-3d;
  border-right: 0.5px solid var(--token-8PxxXPNrIohQ);
  border-left: 0.5px none var(--token-8PxxXPNrIohQ);
}
.nextPatient2 * {
  transform-style: preserve-3d;
}
.uploadMedia:global(.__wab_instance) {
  max-width: 100%;
  left: 0px;
  top: 85px;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .uploadMedia:global(.__wab_instance) {
    left: 0px;
    top: 85px;
    width: 100%;
    position: fixed;
    height: auto;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__ci0I5 {
    font-size: var(--token-NMUbRE7XpwuK);
  }
}
.svg__gBEpS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___6Ca81 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.getPacsUrl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: auto;
  top: 120px;
  z-index: 1;
  position: fixed;
  width: 100%;
  right: 0;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 760px) {
  .getPacsUrl:global(.__wab_instance) {
    top: 120px;
    right: 0;
    left: auto;
    width: 100%;
  }
}
.pacsButton:global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  width: 100%;
  right: auto;
  height: auto;
  min-width: 0;
}
.text__et1R {
  color: #ffffff;
}
.svg__f0Weg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gPfOa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
