.consultSend {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Hd7stmcqwCJ-);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.consultSend > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .consultSend > * {
    grid-column: 4;
  }
}
.redirectToInlabLogin:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.redirectToNamespaceSelection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
  border-bottom: 0.5px solid #000000;
}
.patientDataForHeader:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.patientNameAgeGender {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 2px;
  min-width: 0;
}
.patientService {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: dashed;
  border-top-width: 1px;
  min-width: 0;
}
.sendConsultContent {
  display: block;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 100px;
  z-index: 1;
  bottom: 70px;
  right: 0;
  overflow: auto;
  padding: 8px;
}
.getUniqueConsult:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.sendConsult {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  box-shadow: none;
  background: #ffffff;
  left: auto;
  top: auto;
  flex-direction: column;
  overflow: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid var(--token-8PxxXPNrIohQ);
}
.sendConsult > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.sendConsult > :global(.__wab_flex-container) > *,
.sendConsult > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sendConsult > :global(.__wab_flex-container) > picture > img,
.sendConsult
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .sendConsult {
    position: relative;
  }
}
.consultHeader {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.deleteConsult {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-b7Myz3RtiwPQ);
  width: 30px;
  height: 30px;
  align-self: center;
  flex-shrink: 0;
}
.pageFunctionTopicOfSendReply {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
  padding: 10px;
}
.pageFunctionTopicOfDatail {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
  padding: 10px;
}
.printConsult {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-9iYGdL7i3GKE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.sendConsultReplyAlertContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.sendConsultReplySuccessfully:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  margin-top: 5px;
  display: none;
}
.text__sRnCt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___1BKnX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none !important;
  min-width: 0;
}
.svg__imP1P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.sendConsultReplyUnsuccessfully:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  margin-top: 5px;
}
.text__aP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kn7L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none !important;
  min-width: 0;
}
.svg__pA82N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.senderServiceContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.senderService {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  font-weight: 700;
  color: #00000080;
  text-align: right;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
  min-height: 0;
  padding: 5px 10px 5px 5px;
  border: 1px none #000000;
}
.selectedSenderService {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  min-height: 0;
  padding: 5px;
}
.receiverServiceContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.receiverService {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-weight: 700;
  color: #00000080;
  text-align: right;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
  padding: 5px 10px 5px 5px;
  border: 1px none #000000;
}
.selectedReceiverService {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  min-height: 0;
  padding: 5px;
}
.suggestedReceiverDoctorContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.suggestedReceiverDoctor {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-weight: 700;
  color: #00000080;
  text-align: right;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
  padding: 5px 10px 5px 5px;
  border: 1px none #000000;
}
.selectedSuggestedReceiverDoctor {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 5px;
}
.patientPresentIllnessContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.presentIllnessTitle {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-weight: 700;
  color: #00000080;
  text-align: right;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  min-width: 0;
  padding: 5px 10px 5px 5px;
  border: 1px none #000000;
}
.patientPresentIllness {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-weight: 400;
  color: #000000;
  text-align: right;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  min-width: 0;
  padding: 10px 10px 10px 5px;
  border: 1px none #000000;
}
.emergencyStatusSendDoctorAndDate {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 15px;
}
.emergent {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  background: var(--token-b7Myz3RtiwPQ);
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  align-self: center;
  border-radius: 10px;
  padding: 5px;
}
.elective {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  background: #ffffff;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  align-self: center;
  border-radius: 10px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
}
.senderDoctorAndTime {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
}
.senderAndSendDateTitle {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-weight: 700;
  color: #00000080;
  text-align: right;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  min-width: 0;
  padding: 5px 10px 5px 5px;
  border: 1px none #000000;
}
.consultSender {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  padding: 5px;
}
.consultSendDate {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-bottom: 5px;
  padding-left: 5px;
  align-self: center;
  padding-right: 5px;
}
.consultSendReplyContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-top: 10px solid var(--token-8PxxXPNrIohQ);
}
.consultReplyTitle {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-weight: 700;
  color: #00000080;
  text-align: right;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  min-width: 0;
  padding: 5px 10px 5px 5px;
  border: 1px none #000000;
}
.consultReplyInput {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: none;
  border-top-width: 1px;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-left-style: none;
  border-left-width: 1px;
  min-width: 0;
  padding: 10px;
}
.paperReply {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  padding: 8px 15px 8px 8px;
}
.paperReplyBullet:global(.__wab_instance) {
  align-self: center;
  flex-shrink: 0;
}
.paperReplyTitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  align-self: center;
  margin-right: 5px;
  min-width: 0;
  padding: 4px;
}
.sendReplyGuide {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 9px;
  color: #000000b3;
  min-width: 0;
}
.sendConsultButton:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-left: 5px;
  margin-top: calc(5px + 4px) !important;
  margin-right: 5px;
  margin-bottom: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .sendConsultButton:global(.__wab_instance) {
    margin-top: calc(5px + 4px) !important;
  }
}
.sendConsult2 {
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none !important;
}
.svg__ye3E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___3XpZa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.repliedConsultContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.finalConsultReplyTitle {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-weight: 700;
  color: #00000080;
  text-align: right;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  min-width: 0;
  padding: 5px 10px 5px 5px;
  border: 1px none #000000;
}
.finalConsultReply {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-weight: 400;
  color: #000000;
  text-align: right;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  min-width: 0;
  padding: 10px 10px 10px 5px;
  border: 1px none #000000;
}
.repliedPaperReplyStatus {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  padding: 8px 15px 8px 8px;
}
.paperReplyBullet2:global(.__wab_instance) {
  align-self: center;
  flex-shrink: 0;
}
.paperReplyTitle2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  align-self: center;
  margin-right: 5px;
  min-width: 0;
  padding: 4px;
}
.repliedConsultDoctorAndTimeAndConfirmer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.repliedConsultConfirmerContent {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  display: none;
}
.repliedConsultConfirmerTitle {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-weight: 700;
  color: #00000080;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  text-align: right;
  min-width: 0;
  padding: 5px 10px 5px 5px;
  border: 1px none #000000;
}
.repliedConsultConfirmer {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
  padding: 5px 10px 5px 5px;
}
.repliedConsultDoctorAndTime {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
}
.repliedConsultDoctorAndTimeTitle {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-weight: 700;
  color: #00000080;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
  padding: 5px 10px 5px 5px;
  border: 1px none #000000;
}
.repliedConsultDoctor {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 5px;
}
.repliedConsultTime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 0;
}
.switchingTab {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 10px;
  padding: 0px 40px 5px;
}
.switchingTab__zTopp:global(.__wab_instance) {
  max-width: 100%;
}
.homepage {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 0;
  border-right: 1px none #aeaeae;
}
.homepage > picture > img {
  object-fit: fill;
}
.consultList {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 0;
  border-left: 1px solid #00000045;
}
.consultList > picture > img {
  object-fit: fill;
}
.patientProfile {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 0;
  border-left: 1px solid #00000045;
}
.patientProfile > picture > img {
  object-fit: fill;
}
.imagingReportList {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  height: 25px;
  margin: 1px;
  border-right: 1px solid #00000045;
  border-left: 1px solid #00000045;
}
.imagingReportList > picture > img {
  object-fit: fill;
}
.laboratoryData {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 20%;
  border-right-style: none;
  border-right-width: 1px;
  height: 25px;
  margin: 0;
}
.laboratoryData > picture > img {
  object-fit: fill;
}
.modalDeleteConsultConfirmation:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modalDeleteConsultConfirmation__modal :global(.ant-modal-content) {
  background: #ffffff;
  outline: none;
}
.confirmationContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
}
.confirmationYesNo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  min-width: 0;
}
.noConfirm:global(.__wab_instance) {
  max-width: 100%;
}
.text__oj3D9 {
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none !important;
}
.svg__wMcz4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mwxL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.confirm:global(.__wab_instance) {
  max-width: 100%;
  margin-left: 30px;
}
.text__atNu {
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none !important;
}
.svg__x2Eka {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2Sk3V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.unsuccessfulDeleteConsult:global(.__wab_instance) {
  max-width: 100%;
  width: 180px;
}
.text__xEzRu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__pUpbj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none !important;
  min-width: 0;
}
.svg__xuFhi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  background: #ffffff;
  min-width: 0;
}
.text__pro0 {
  background: none;
  margin-bottom: 10px;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
}
.guide2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  color: #000000b3;
  font-family: var(--VazirmatnCustom);
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
}
