.root {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  width: auto;
  justify-self: flex-start;
  height: 100%;
  box-shadow: none;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  background: none;
  min-height: 0;
  border-radius: 5px;
  padding: 7px 10px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: auto;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.rootshape_round {
  border-radius: 50%;
  padding: 12px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize4_compact {
  padding: 6px 16px;
}
.rootcolor_blue {
  background: #0091ff;
}
.rootcolor_green {
  background: #30a46c;
}
.rootcolor_red {
  background: #e54d2e;
}
.rootcolor_clear {
  background: #e8ecf2;
  border: 1px solid #e8ecf2;
}
.rootcolor_link {
  background: #ffffff00;
}
.rootshape_round_size4_compact {
  padding: 6px;
}
.text___0K9Kh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
}
.text__cOxxN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
}
.slotTargetChildren {
  color: #ededec;
  font-weight: 500;
  white-space: pre;
}
.slotTargetChildrencolor_blue {
  color: #ffffff;
}
.slotTargetChildrencolor_green {
  color: #ffffff;
}
.slotTargetChildrencolor_red {
  color: #ffffff;
}
.slotTargetChildrencolor_clear {
  color: #1b1b18;
}
.slotTargetChildrencolor_link {
  color: #0091ff;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor_link {
  color: #0091ff;
}
.svg__z81Hd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor_link {
  color: #0091ff;
}
.svg__asUxw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
