.imagingReportList {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 8px;
  background: #e8ecf2;
  overflow: auto;
  max-width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.imagingReportList > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imagingReportList > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: #ffffff;
  overflow: hidden;
  max-height: 30px;
  right: 0;
  border-top-style: none;
  border-top-width: 0px;
  border-right-style: none;
  border-right-width: 0px;
  border-bottom-style: solid;
  border-bottom-width: 0.2px;
  border-left-style: none;
  border-left-width: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
.apiFetcherComponent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 28px;
  min-width: 0;
}
.text___5FkMo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 30px;
  min-width: 0;
  padding: 4px;
}
.imagingReport:global(.__wab_instance) {
  max-width: 95%;
  object-fit: cover;
  position: relative;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.viewPacsButtons {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  border-top-style: none;
  border-top-width: 0px;
  border-right-style: none;
  border-right-width: 0px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-left-style: none;
  border-left-width: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  margin-top: 12px;
  padding: 8px;
  border-color: var(--token-Pxe4wDL2kJpb);
}
.viewPacsButtons > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.viewPacsButtons > :global(.__wab_flex-container) > *,
.viewPacsButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.viewPacsButtons > :global(.__wab_flex-container) > picture > img,
.viewPacsButtons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.activeViewPacsButton:global(.__wab_instance) {
  width: 100%;
  height: 30px;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: calc(12px + 0px) !important;
  min-width: 0;
  flex-shrink: 0;
}
.svg__yoFwS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ad5Pb {
  text-align: center;
  height: 100%;
  font-size: 14px;
  font-weight: 300;
  color: var(--token-jgohepLVeKvh);
  min-height: 0;
}
.svg__hdpiC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.deactivePacsButton {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-zy6xhYnWF8Y7);
  color: var(--token-Pxe4wDL2kJpb);
  font-weight: 300;
  min-width: 0;
  border-radius: 5px;
  padding: 7px 10px;
}
.text__xjbZv {
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  margin-top: 30px;
  background: #ffffff;
  font-size: var(--token-CdE1_0ZaCyT1);
  white-space: pre-wrap;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.text__scVr8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  margin-top: 12px;
  background: #ffffff;
  white-space: pre-wrap;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.imagingReportList2 {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  background: none;
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.imagingReportList2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.imagingReportList2 > :global(.__wab_flex-container) > *,
.imagingReportList2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.imagingReportList2 > :global(.__wab_flex-container) > picture > img,
.imagingReportList2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imagingReportList2 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .imagingReportList2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.imagingReportCard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  flex-grow: 1;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
@media (min-width: 0px) and (max-width: 768px) {
  .imagingReportCard {
    width: auto;
  }
}
.imagingTitledatetime {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  min-width: 0;
  padding: 8px;
}
.imagingTitledatetime > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.imagingTitledatetime > :global(.__wab_flex-container) > *,
.imagingTitledatetime
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.imagingTitledatetime > :global(.__wab_flex-container) > picture > img,
.imagingTitledatetime
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.imagingTitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.imagingDatetime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  min-width: 0;
  border-left: 0.5px solid var(--token-IYO13gyYJHXG);
}
.imagingType {
  position: relative;
  height: auto;
  max-width: 400%;
  font-size: var(--token-CdE1_0ZaCyT1);
  text-align: center;
  width: auto;
  white-space: pre-wrap;
  padding: 4px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imagingType {
    font-size: var(--token-CdE1_0ZaCyT1);
    text-align: center;
    width: 100%;
    max-width: 100%;
    align-self: auto;
    min-width: 0;
  }
}
.switchingTabs {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 1%;
  margin-top: 45px;
  overflow: visible;
  padding: 20px 40px 5px;
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__ccuIt {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 0;
  border-right: 1px none #aeaeae;
}
.img__ccuIt > picture > img {
  object-fit: fill;
}
.img__uamjw {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 0;
  border-left: 1px solid #00000045;
}
.img__uamjw > picture > img {
  object-fit: fill;
}
.img__sztas {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 1px;
  border-right: 1px solid #00000045;
  border-left: 1px solid #00000045;
}
.img__sztas > picture > img {
  object-fit: fill;
}
.img___8TrdL {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  border-right-style: none;
  border-right-width: 1px;
  height: 25px;
  margin: 0;
}
.img___8TrdL > picture > img {
  object-fit: fill;
}
.redirectToLoginPage:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectToNamespaceSelection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.onloadUserPatientInteractionCount:global(.__wab_instance):global(
    .__wab_instance
  ) {
  max-width: 100%;
  position: relative;
}
