.patientProfile2 {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-cSJ2BJk-9JCq);
  background: #e8ecf2;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.patientProfile2 > * {
  grid-column: 4;
}
.patientProfile2 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .patientProfile2 > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.text__wJfH9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  display: none;
}
.patientProfile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 12px;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.nationalIdadmissionTimeNopacs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 8px;
}
.text__aZwd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  color: var(--token-8PxxXPNrIohQ);
  min-width: 0;
}
.nationalId {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding-bottom: 8px;
  min-width: 0;
}
.text___3OiCc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  color: var(--token-8PxxXPNrIohQ);
  min-width: 0;
}
.admissionDate {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding-bottom: 8px;
  min-width: 0;
}
.text___17Gib {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  color: var(--token-8PxxXPNrIohQ);
  min-width: 0;
}
.patientNo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding-bottom: 8px;
  min-width: 0;
}
.text___4ElHr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  color: var(--token-8PxxXPNrIohQ);
  min-width: 0;
}
.pacsNumber {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.nameservicewardbed {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.patientName {
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: right;
  padding-left: 0px;
  padding-right: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  padding-bottom: 8px;
  font-size: 16px;
  min-width: 0;
  min-height: 0;
}
.text__qdLuE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  color: var(--token-8PxxXPNrIohQ);
  min-width: 0;
}
.patientService {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  text-align: right;
  padding-bottom: 8px;
  min-width: 0;
}
.text__gsJjX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  color: var(--token-8PxxXPNrIohQ);
  min-width: 0;
}
.patientWard {
  width: 213px;
  height: auto;
  max-width: 100%;
  position: relative;
  text-align: right;
  font-size: 16px;
  margin-left: 0px;
  align-self: flex-end;
  padding: 0px;
}
.text__qdn2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  color: var(--token-8PxxXPNrIohQ);
  min-width: 0;
}
.patientRoomBed {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.switchingTabs {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 8px 11.3% 5%;
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectUserToLoginPage:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectUserToNamespaceSelection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
