.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-WSOQKxqtSk7F);
  font-family: var(--token-HrYxe9bGiUsp);
  font-size: var(--token-3DlQ9mVQ6NFy);
  line-height: var(--token-shxF4F_ggPFB);
  outline-style: none;
  border-radius: var(--token-gT8GM_eUi3Z2);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-swqYw2qjyf1R);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-NQTGvQtHifK9);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-goQXpK0S37Un);
  outline-color: var(--token-Hm3SlAJH-Xg2);
  outline-offset: 1px;
}
.freeBox__r913H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-sfLcv3n8rVPG) var(--token-0SUmebUCJbd8);
}
.freeBox__r913H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - var(--token-goQXpK0S37Un));
  height: calc(100% + var(--token-goQXpK0S37Un));
}
.freeBox__r913H > :global(.__wab_flex-container) > *,
.freeBox__r913H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r913H > :global(.__wab_flex-container) > picture > img,
.freeBox__r913H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: var(--token-goQXpK0S37Un);
}
.freeBox__swfNk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__mJcP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NyTao7Ew0j3m);
  min-width: 0;
}
