.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.header {
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 26px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.patientData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.text__uoCCx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.summaryListSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.summaryListSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.summaryListSection > :global(.__wab_flex-container) > *,
.summaryListSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.summaryListSection > :global(.__wab_flex-container) > picture > img,
.summaryListSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.getSummaryApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  padding: 4px;
  border: 0px none var(--token-8PxxXPNrIohQ);
}
.text__uc4Oc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.loading {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__oQo5D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.getDischargeSummarySection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
  margin: 0px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.getDischargeSummarySection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.getDischargeSummarySection > :global(.__wab_flex-container) > *,
.getDischargeSummarySection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.getDischargeSummarySection > :global(.__wab_flex-container) > picture > img,
.getDischargeSummarySection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.getChiefComplaintSection2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.text___9ExFj {
  display: none;
}
.text__nWkpK {
  text-align: right;
  align-self: flex-end;
}
.getFinalDiagnosisSection2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__n5Dby {
  display: none;
}
.text__qvNkr {
  align-self: flex-end;
}
.getDiseaseProgressSection2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__kgbsU {
  display: none;
}
.text__mgt7 {
  align-self: flex-end;
}
.getProceduresSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__qZUnR {
  display: none;
}
.text___7Tzmd {
  align-self: flex-end;
}
.getLaboratorySection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.getLaboratorySection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.getLaboratorySection > :global(.__wab_flex-container) > *,
.getLaboratorySection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.getLaboratorySection > :global(.__wab_flex-container) > picture > img,
.getLaboratorySection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__xwBe9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.selectLaboratoryResultButton2:global(.__wab_instance) {
  max-width: 100%;
  align-self: center;
  display: none;
}
.text__tegk {
  text-align: left;
}
.svg___2T4Xh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9JJAw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__feuK2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__pUhiu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 4px;
}
.freeBox__pUhiu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pUhiu > :global(.__wab_flex-container) > *,
.freeBox__pUhiu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pUhiu > :global(.__wab_flex-container) > picture > img,
.freeBox__pUhiu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.text__fuYaj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.getParaclinicReportsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.getParaclinicReportsSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.getParaclinicReportsSection > :global(.__wab_flex-container) > *,
.getParaclinicReportsSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.getParaclinicReportsSection > :global(.__wab_flex-container) > picture > img,
.getParaclinicReportsSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__yIk4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__yIk4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yIk4 > :global(.__wab_flex-container) > *,
.freeBox__yIk4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yIk4 > :global(.__wab_flex-container) > picture > img,
.freeBox__yIk4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___1NEqh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.text___3H5CA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 4px 4px;
  border: 0px none var(--token-8PxxXPNrIohQ);
}
.getPatientConditionSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.text___7J9Mo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__uxNl {
  align-self: flex-end;
}
.getDrugsSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__mRje4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__et7Rk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.getFollowupSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__kVec5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
}
.text__nrf95 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
}
.text__n8DmQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
}
.editPatientSummaryButton:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__idci {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__c4WCa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.deletePatientSummaryButton2:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  display: none;
}
.svg__iZuZ3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pFv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.editSummarySection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
  margin: 0px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.editSummarySection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.editSummarySection > :global(.__wab_flex-container) > *,
.editSummarySection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.editSummarySection > :global(.__wab_flex-container) > picture > img,
.editSummarySection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.editedChiefComplaintSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.editedChiefComplaint:global(.__wab_instance) {
  max-width: 100%;
}
.svg___6U7J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg__voi5X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-tawGjJMbHvx-);
}
.editedFinalDiagnosisSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.editedFinalDiagnosis:global(.__wab_instance) {
  max-width: 100%;
}
.svg___54HM {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-tawGjJMbHvx-);
  height: 1em;
}
.svg__cCwsI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-tawGjJMbHvx-);
}
.editedDiseaseProgressSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.editedDiseaseProgress:global(.__wab_instance) {
  max-width: 100%;
}
.svg__zDcgn {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-tawGjJMbHvx-);
  height: 1em;
}
.svg__csq3Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-tawGjJMbHvx-);
}
.editedProceduresSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.editedProcedures:global(.__wab_instance) {
  max-width: 100%;
}
.svg__g8DSf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg__iJgfA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-tawGjJMbHvx-);
}
.editedLaboratorySection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.editedLaboratorySection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.editedLaboratorySection > :global(.__wab_flex-container) > *,
.editedLaboratorySection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.editedLaboratorySection > :global(.__wab_flex-container) > picture > img,
.editedLaboratorySection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__p5NrF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.selectLaboratoryResultButton3:global(.__wab_instance) {
  max-width: 100%;
  align-self: center;
}
.text__mnOqQ {
  text-align: left;
}
.svg__aqTZf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9C2Rs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2U2Zr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.selectedLaboratoryResults2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  padding: 4px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.freeBox__zWe6X {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 4px;
}
.freeBox__zWe6X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zWe6X > :global(.__wab_flex-container) > *,
.freeBox__zWe6X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zWe6X > :global(.__wab_flex-container) > picture > img,
.freeBox__zWe6X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.text__jDkeV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.conditionGuard__nO7HU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.editedParaclinicReportsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.editedParaclinicReportsSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.editedParaclinicReportsSection > :global(.__wab_flex-container) > *,
.editedParaclinicReportsSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.editedParaclinicReportsSection
  > :global(.__wab_flex-container)
  > picture
  > img,
.editedParaclinicReportsSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.selectParaclinicReportsButton2:global(.__wab_instance) {
  max-width: 100%;
  align-self: center;
}
.text__aUzQl {
  text-align: left;
}
.svg__t2UlD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wpVe5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__gyjwo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gyjwo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__gyjwo > :global(.__wab_flex-container) > *,
.freeBox__gyjwo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gyjwo > :global(.__wab_flex-container) > picture > img,
.freeBox__gyjwo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.paraclinicReport4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-b7Myz3RtiwPQ);
  color: var(--token-AbJ0W-K7opJE);
  min-width: 0;
}
.freeBox__mY6VL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.text__rFkFh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 4px 4px;
  border: 0px none var(--token-8PxxXPNrIohQ);
}
.deleteParaclinicReport3:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.text__oFfB {
  color: #ffffff;
}
.svg___5Dvte {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wPl5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.conditionGuard__cimyC:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.editedPatientConditionSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.editedPatientCondition:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.editedDrugsSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__my2Z8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editedDrugs:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wuCb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg__ggz29 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.editedFollowupSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__eHowV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editedFollowups:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fiU8B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.putSummaryButton:global(.__wab_instance) {
  max-width: 100%;
}
.text__zgJq {
  color: #fffefe;
  padding-right: 0px;
}
.svg__gdZX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jinyj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.conditionGuard__b2HrE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.addPatientSummaryButton:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__b528X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__di22F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.addSummarySection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  margin-top: calc(0px + 4px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.addSummarySection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.addSummarySection > :global(.__wab_flex-container) > *,
.addSummarySection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.addSummarySection > :global(.__wab_flex-container) > picture > img,
.addSummarySection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.chiefComplaintSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.chiefComplaint:global(.__wab_instance) {
  max-width: 100%;
}
.svg___67YEb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.finalDiagnosisSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.finalDiagnosis:global(.__wab_instance) {
  max-width: 100%;
}
.svg__lW41T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.diseaseProgressSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.diseaseProgress:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cxQ9D {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-tawGjJMbHvx-);
  height: 1em;
}
.svg__t2P6N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.proceduresSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.procedures:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mpnTv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg__j1TV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.laboratorySection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.laboratorySection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.laboratorySection > :global(.__wab_flex-container) > *,
.laboratorySection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.laboratorySection > :global(.__wab_flex-container) > picture > img,
.laboratorySection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__oFwQo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.selectLaboratoryResultButton:global(.__wab_instance) {
  max-width: 100%;
  align-self: center;
}
.text__v4HHh {
  text-align: left;
}
.svg__ojxJm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fDiS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qXyFe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.selectedLaboratoryResults:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  padding: 4px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.freeBox___1KaCy {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 4px;
}
.freeBox___1KaCy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1KaCy > :global(.__wab_flex-container) > *,
.freeBox___1KaCy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1KaCy > :global(.__wab_flex-container) > picture > img,
.freeBox___1KaCy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.text__xkT1L {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.conditionGuard___1ZWlv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.paraclinicReportsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.paraclinicReportsSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.paraclinicReportsSection > :global(.__wab_flex-container) > *,
.paraclinicReportsSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.paraclinicReportsSection > :global(.__wab_flex-container) > picture > img,
.paraclinicReportsSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.selectParaclinicReportsButton:global(.__wab_instance) {
  max-width: 100%;
  align-self: center;
}
.text___3PSxy {
  text-align: left;
}
.svg__lSj4Y {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__npNQw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__jzOhv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jzOhv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jzOhv > :global(.__wab_flex-container) > *,
.freeBox__jzOhv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jzOhv > :global(.__wab_flex-container) > picture > img,
.freeBox__jzOhv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.paraclinicReport3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-b7Myz3RtiwPQ);
  color: var(--token-AbJ0W-K7opJE);
  min-width: 0;
}
.freeBox___1QS1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.text__nWZw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 4px 4px;
  border: 0px none var(--token-8PxxXPNrIohQ);
}
.deleteParaclinicReport2:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.text__oozh {
  color: #ffffff;
}
.svg__sKdyJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xrBxO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.patientConditionSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.patientConditionDischarge:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.followUpSuggestionSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 0.2px dotted var(--token-8PxxXPNrIohQ);
}
.followUpSuggestionSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.followUpSuggestionSection > :global(.__wab_flex-container) > *,
.followUpSuggestionSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.followUpSuggestionSection > :global(.__wab_flex-container) > picture > img,
.followUpSuggestionSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__kybVt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
  padding: 4px;
  border-bottom: 0.2px dotted var(--token-8PxxXPNrIohQ);
}
.dietSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__pSyDj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
.diet:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.drugsSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__dIXh1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.drug:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.followupSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__smGnI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.nextVisits:global(.__wab_instance) {
  max-width: 100%;
}
.svg__l81Uw {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-tawGjJMbHvx-);
  height: 1em;
}
.svg__hjAjg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.postSummary:global(.__wab_instance) {
  max-width: 100%;
}
.text__ao8JQ {
  color: #fffefe;
}
.svg__tancv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qcBO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.laboratoryData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.laboratoryData__modal :global(.ant-modal-content) {
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  background: #ffffff;
  outline: none;
}
.getLabs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ejZsV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___0WSg7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.labData {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border: 1px none var(--token-8PxxXPNrIohQ);
}
.labData > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.labData > :global(.__wab_flex-container) > *,
.labData > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labData > :global(.__wab_flex-container) > picture > img,
.labData
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.labGroupSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.labGroup {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 500%;
  overflow: auto;
  border-top-width: 0.1px;
  border-right-width: 0.5px;
  border-bottom-width: 0.1px;
  border-left-width: 0.5px;
  min-width: 0;
  padding: 0px;
  border-style: solid;
  border-color: var(--token-8PxxXPNrIohQ);
}
.labGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.labGroup > :global(.__wab_flex-container) > *,
.labGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labGroup > :global(.__wab_flex-container) > picture > img,
.labGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.labFactors {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  align-self: center;
  border-right-width: 0.2px;
  border-right-style: solid;
  border-top-width: 0.2px;
  border-top-style: none;
  border-bottom-width: 0.2px;
  border-bottom-style: none;
  border-left-width: 0px;
  border-left-style: none;
  flex-shrink: 0;
  padding: 0px;
  border-color: var(--token-8PxxXPNrIohQ);
}
.text__tN6Vo {
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  text-align: center;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
}
.labFactor {
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  align-self: center;
  border-bottom-style: solid;
  border-top-style: solid;
  border-right-style: none;
  border-left-style: none;
  min-width: 0;
  flex-shrink: 0;
  padding: 4px;
  border-width: 0.2px;
  border-color: var(--token-8PxxXPNrIohQ);
}
.labValues {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 125px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 0px;
}
.labIssuedDatetime {
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  font-size: var(--token-CdE1_0ZaCyT1);
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 4px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.freeBox__ivvzx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 2px;
  border: 0.1px solid var(--token-8PxxXPNrIohQ);
}
.freeBox__ivvzx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__ivvzx > :global(.__wab_flex-container) > *,
.freeBox__ivvzx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ivvzx > :global(.__wab_flex-container) > picture > img,
.freeBox__ivvzx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.bookmarkLab:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.labResults {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.paraclinicReports:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.paraclinicReports__modal :global(.ant-modal-content) {
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  background: #ffffff;
  outline: none;
}
.apiFetcherComponent2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oe7Bh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___0Hd0A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.paraclinicReportList {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border: 1px none var(--token-8PxxXPNrIohQ);
}
.paraclinicReportList > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.paraclinicReportList > :global(.__wab_flex-container) > *,
.paraclinicReportList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.paraclinicReportList > :global(.__wab_flex-container) > picture > img,
.paraclinicReportList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.successMassage {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-F0UhOcqDIzJI);
  color: var(--token-AbJ0W-K7opJE);
  min-width: 0;
}
.paraclinicReports2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  padding: 4px;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.paraclinicReportDatetimeTitle {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.paraclinicReportTitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.paraclinicReportDatetime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.paraclinicReport {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border: 0.2px solid var(--token-8PxxXPNrIohQ);
}
.freeBox__hc70C {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hc70C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__hc70C > :global(.__wab_flex-container) > *,
.freeBox__hc70C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hc70C > :global(.__wab_flex-container) > picture > img,
.freeBox__hc70C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.addParaclinicReport:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.text___3LPfI {
  color: #ffffff;
}
.svg___6LJvD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bluLg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
