.myProfile {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f4f6fa;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.myProfile > * {
  grid-column: 4;
}
.redirectToInlabLogin:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectToNamespaceSelection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__wr82L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 401px;
  height: 886px;
  max-width: 100%;
  padding: 0px 8px 8px;
  margin: 18px 0px 0px;
}
.note {
  display: block;
  font-size: 12px;
  font-family: "vazirmatn";
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.3999899999999998;
  color: rgba(92, 95, 101, 1);
  position: relative;
  align-self: center;
  text-align: center;
  margin-top: 14px;
  border-bottom: 1px solid var(--token-9iYGdL7i3GKE);
}
.picsAndName {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 31px;
  left: auto;
  top: auto;
  margin-left: 0px;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.freeBox__twhAz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 0px;
  min-width: 0;
  padding: 6px 8px 0px 0px;
}
.name {
  display: block;
  font-size: 14px;
  font-family: "vazirmatn";
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.2;
  color: rgba(24, 29, 36, 1);
  position: relative;
  top: auto;
  left: auto;
  text-align: left;
  margin-top: 3px;
}
.text__cfKVc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  text-align: left;
  margin-top: 5px;
  font-size: 10px;
}
.text__umlbM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  text-align: left;
  margin-top: 5px;
  font-size: 12px;
}
.img {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 61px;
  margin-right: 9px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: fill;
}
.firstName {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 24px;
  align-self: flex-start;
  margin-left: 7px;
  row-gap: 4px;
}
.firstName2 {
  display: block;
  font-size: 14px;
  font-family: "vazirmatn";
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.3999899999999998;
  color: rgba(92, 95, 101, 1);
  position: relative;
  align-self: flex-end;
}
.نام:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 328px;
  align-self: flex-end;
}
.svg__aw8I0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg__rAfWi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.lastName {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 24px;
  align-self: flex-start;
  margin-left: 7px;
  row-gap: 4px;
}
.lastName2 {
  display: block;
  font-size: 14px;
  font-family: "vazirmatn";
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.3999899999999998;
  color: rgba(92, 95, 101, 1);
  position: relative;
  align-self: flex-end;
}
.نامخانوادگی:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 328px;
  align-self: flex-end;
}
.svg___8Ls1H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg__phsZj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.email {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 24px;
  align-self: flex-start;
  margin-left: 7px;
  row-gap: 4px;
}
.email2 {
  display: block;
  font-size: 14px;
  font-family: "vazirmatn";
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.3999899999999998;
  color: rgba(92, 95, 101, 1);
  position: relative;
  align-self: flex-end;
}
.ایمیل:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 328px;
  align-self: flex-end;
}
.svg__fgnui {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg__zYibr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.عکسپروفایل {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 24px;
  align-self: flex-start;
  margin-left: 7px;
  row-gap: 4px;
}
.email4 {
  display: block;
  font-size: 14px;
  font-family: "vazirmatn";
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.3999899999999998;
  color: rgba(92, 95, 101, 1);
  position: relative;
  align-self: flex-end;
}
.عکسپروفایل2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 328px;
  border-radius: 6px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 328px;
  border: 0.5px solid var(--token-pRs3-4jrQ4XQ);
}
.text__okgW4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.save:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 75px;
  height: auto;
}
.svg__xBzg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mDyKf {
  font-size: 12px;
}
.svg___4LB3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
