.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.apiFetcherComponent:global(.__wab_instance) {
  position: fixed;
  background: radial-gradient(
      ellipse 40% 60% at 20% 20%,
      #ce9fff 0%,
      #56b9ff 100%
    )
    0% 0% / 100% 100% repeat;
  left: 0;
  top: 0;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 15px;
}
.someInstruction {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vVeKr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 21px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 61px;
}
.svg__iiALj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__x3Kgi {
  font-size: 24px;
  color: #ededec;
  margin: 10px;
}
.svg__aTahn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.actionResult {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-7z5Kw5B89TZR);
  margin-top: 24px;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
}
