.settingTop {
  position: relative;
  background: #ffffff;
  max-width: 100%;
  height: auto;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  display: flex;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 0px;
  padding: 8px;
  border-bottom: 1px solid var(--token-8PxxXPNrIohQ);
}
.patientName {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: flex-start;
  left: 0px;
  top: 0px;
  z-index: 1;
}
