.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px var(--token-0jflij2Drauk);
  position: relative;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
  border-radius: 5px;
  padding: 8px;
}
.img___6Cjxt {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 101px;
  height: 25px;
  flex-shrink: 0;
  margin: 0;
  border-right: 1px solid #aeaeae;
}
.img___6Cjxt > picture > img {
  object-fit: fill;
}
.img__tHc1 {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 101px;
  height: 25px;
  flex-shrink: 0;
  margin: 1px;
  border-right: 1px solid #aeaeae;
}
.img__tHc1 > picture > img {
  object-fit: fill;
}
.img__hhg4W {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 101px;
  border-right-style: none;
  border-right-width: 1px;
  height: 25px;
  flex-shrink: 0;
  margin: 0;
}
.img__hhg4W > picture > img {
  object-fit: fill;
}
