.laboratoryData {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Hd7stmcqwCJ-);
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.laboratoryData > * {
  grid-column: 4;
}
.laboratoryData > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .laboratoryData {
    overflow: auto;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .laboratoryData > * {
    grid-column: 4;
  }
}
.laboratoryDataviewNormalRange > * {
  grid-column: 4;
}
.laboratoryDatabookmarkedPatient > * {
  grid-column: 4;
}
.laboratoryDataviewNormalRange_bookmarkedPatient > * {
  grid-column: 4;
}
.redirectToInlabLogin:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectToNamespaceSelection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.header {
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 100%;
  left: 0;
  top: 0px;
  background: #ffffff;
  right: 0;
  height: 100%;
  max-height: 32px;
  overflow: hidden;
  flex-direction: row;
  flex-grow: 1;
  z-index: 3;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px 24px 0px 12px;
  margin: 0px;
  border-bottom: 1px none #ccccd2;
}
@media (min-width: 0px) and (max-width: 760px) {
  .header {
    justify-content: space-around;
  }
}
.patientDataApiFetcher:global(.__wab_instance) {
  max-width: 85%;
  object-fit: cover;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  overflow: hidden;
  align-self: center;
  min-width: 0;
  margin: 0px;
}
.patientNameAgeGender {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: center;
  font-weight: 400;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  max-height: 30px;
  font-size: var(--token-sOr3fJ5Up5fq);
  align-self: center;
  color: #70727a;
  white-space: pre;
  min-width: 0;
  min-height: 0;
  padding: 4px;
  margin: 0px 8px 0px 0px;
}
.normalRangeButton {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  right: auto;
  max-height: 22px;
  align-self: center;
  background: none;
  min-height: 0;
  border-radius: 100px;
  padding: 4px;
  border: 0.5px solid var(--token-tawGjJMbHvx-);
}
@media (min-width: 0px) and (max-width: 760px) {
  .normalRangeButton {
    width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    left: auto;
    top: auto;
    right: auto;
  }
}
.normalRangeButtonviewNormalRange {
  background: var(--token-tawGjJMbHvx-);
  left: auto;
  top: auto;
  right: auto;
}
.normalRangeButtonCircle {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  max-width: 100%;
  background: var(--token-tawGjJMbHvx-);
  align-self: center;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 8px;
}
.normalRangeButtonCircleviewNormalRange {
  background: var(--token-41VRhDKfihhY);
  display: none;
}
.text__oI3Bw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  align-self: center;
  color: var(--token-tawGjJMbHvx-);
  white-space: pre;
  text-transform: capitalize;
  user-select: none;
  letter-spacing: normal;
  min-width: 0;
  padding: 0px 4px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__oI3Bw {
    width: 100%;
    align-self: stretch;
    white-space: pre;
    min-width: 0;
  }
}
.textviewNormalRange__oI3BwBwg80 {
  color: #ffffff;
}
.tabButtons {
  display: flex;
  flex-direction: row;
  position: sticky;
  width: 100%;
  height: 32px;
  max-width: 100%;
  left: 0px;
  top: 32px;
  z-index: 3;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 2px;
  border-bottom: 1px solid #ccccd2;
}
.tabButtons > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.tabButtons > :global(.__wab_flex-container) > *,
.tabButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tabButtons > :global(.__wab_flex-container) > picture > img,
.tabButtons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.checkedFactor:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  width: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
  display: none;
}
.text__n9GNm {
  color: #ffffff;
  font-weight: 400;
  font-size: var(--token-CdE1_0ZaCyT1);
  align-self: center;
  text-align: center;
}
.svg__m6SG9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__f72SL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eZjWx {
  color: var(--token-IYO13gyYJHXG);
  font-size: var(--token-sOr3fJ5Up5fq);
  align-self: center;
}
.svg__a60R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jrtkT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.laboratoryResult:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.text__p8XU0 {
  color: var(--token-IYO13gyYJHXG);
}
.svg__cCbxX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fabxg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.labData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  width: 100%;
  background: none;
  justify-self: center;
  font-size: var(--token-CdE1_0ZaCyT1);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0px;
  top: 70px;
  bottom: 60px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 25px 0px 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .labData:global(.__wab_instance) {
    padding-left: 0px;
  }
}
.text__woDte {
  position: fixed;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  align-self: flex-start;
  font-size: var(--token-CdE1_0ZaCyT1);
  white-space: pre-wrap;
  left: 0px;
  top: 65px;
  z-index: 1;
  text-align: center;
  min-width: 0;
  border-radius: 5px;
  padding: 2px;
  margin: 0px;
}
.freeBox__dqfaG {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 65px;
  background: #ffffff;
  min-width: 0;
  padding: 2px;
}
.newFeatureTag {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  background: var(--token-9iYGdL7i3GKE);
  margin-right: 5px;
  align-self: center;
  border-radius: 5px;
  padding: 0px 6px;
}
.text__cnNnE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  align-self: flex-start;
  font-size: var(--token-CdE1_0ZaCyT1);
  white-space: pre-wrap;
  left: auto;
  top: auto;
  text-align: center;
  min-width: 0;
  border-radius: 5px;
  padding: 2px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__cnNnE {
    font-size: 10px;
  }
}
.searchLabName:global(.__wab_instance) {
  max-width: 90%;
  position: relative;
  align-self: center;
  z-index: 1;
  left: auto;
  top: auto;
  height: auto;
  width: 100%;
  min-width: 0;
  margin: 0px 4px 8px;
}
.svg__yxkZ4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-b7Myz3RtiwPQ);
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  margin-right: 4px;
}
.text__vcc6L {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 32px;
  white-space: pre-wrap;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.antibiogramData:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  background: none;
  height: auto;
  max-height: 100%;
  justify-self: center;
  font-size: var(--token-CdE1_0ZaCyT1);
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 6px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .antibiogramData:global(.__wab_instance) {
    padding-left: 0px;
  }
}
.antibiogramPerDate {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  align-self: center;
  margin-top: 10px;
  min-width: 0;
  padding: 4px 2px 2px;
}
.datetimeName {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 35px;
  max-width: 100%;
  background: #f5f5f5;
  align-self: flex-start;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  flex-shrink: 0;
  padding: 0px;
  border-color: #e7e7e7;
}
.antibiogramGroupName {
  position: relative;
  width: 150px;
  height: 35px;
  max-width: 100%;
  text-transform: capitalize;
  align-self: center;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  flex-shrink: 0;
  padding: 7px 5px 5px;
  border-right: 0px none #ccccd2;
}
.datetime {
  position: relative;
  width: 140px;
  height: 30px;
  max-width: 100%;
  align-self: center;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  flex-shrink: 0;
  padding: 7px 5px 5px;
}
.antibiogram {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 45px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  padding: 0px 0px 0px 4px;
  border-top: 0px none var(--token-8PxxXPNrIohQ);
  border-right: 0px none var(--token-8PxxXPNrIohQ);
  border-bottom: 1px solid #e7e7e7;
  border-left: 0px none var(--token-8PxxXPNrIohQ);
}
.antibioticName {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  align-self: center;
  font-family: "Vazirmatn", sans-serif;
  flex-shrink: 0;
  padding: 0px;
  border-right: 0px none var(--token-8PxxXPNrIohQ);
}
.antibioticResult {
  position: relative;
  width: 140px;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-family: "Vazirmatn", sans-serif;
  flex-shrink: 0;
  padding: 0px;
}
.laboratoryLists {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  flex-grow: 1;
  flex-direction: column;
  z-index: 1;
  min-width: 0;
  padding: 4px 2px 2px;
  margin: 12px 0px 0px;
  border: 1px solid #ccccd200;
}
.laboratoryLists > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.laboratoryLists > :global(.__wab_flex-container) > *,
.laboratoryLists > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.laboratoryLists > :global(.__wab_flex-container) > picture > img,
.laboratoryLists
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__b1Ehi {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 0;
  align-self: flex-start;
  margin-top: calc(2px + 0px) !important;
  min-width: 0;
  display: none;
  padding: 8px;
}
.labResults {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  left: auto;
  top: auto;
  align-self: center;
  min-width: 0;
  padding: 2px 0px 4px;
  border-left: 1px solid #00000003;
}
@media (min-width: 0px) and (max-width: 760px) {
  .labResults {
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    padding: 4px;
  }
}
.labResultsviewNormalRange {
  align-self: center;
  justify-content: flex-start;
  padding: 4px;
}
.checkedFactors {
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 120px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  left: auto;
  top: auto;
  align-self: flex-start;
  overflow: auto;
  z-index: 1;
  flex-shrink: 0;
  padding: 0px;
  border-top: 0.5px none var(--token-Pxe4wDL2kJpb);
  border-right: 1px solid #ccccd2;
  border-bottom: 0.5px none var(--token-Pxe4wDL2kJpb);
  border-left: 0.5px none var(--token-Pxe4wDL2kJpb);
}
@media (min-width: 0px) and (max-width: 760px) {
  .checkedFactors {
    align-self: flex-start;
  }
}
.labGroupName {
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  align-self: center;
  text-align: center;
  font-weight: 400;
  background: #f5f5f5;
  font-size: var(--token-sOr3fJ5Up5fq);
  text-transform: capitalize;
  line-height: 0.9;
  min-width: 0;
  flex-shrink: 0;
  padding: 7px 5px 5px;
  margin: 0px;
  border-bottom: 1px solid #e7e7e7;
}
.labGroupNameviewNormalRange {
  align-self: center;
}
.factorName {
  position: relative;
  width: 100%;
  height: 48px;
  max-width: 100%;
  white-space: pre-wrap;
  align-self: center;
  text-align: center;
  font-size: var(--token-sOr3fJ5Up5fq);
  flex-grow: 1;
  min-width: 0;
  flex-shrink: 0;
  padding: 7px 5px 5px;
  border-top: 0px none var(--token-Pxe4wDL2kJpb);
  border-bottom: 1px solid #e7e7e780;
}
.factorNameviewNormalRange {
  height: 110px;
  flex-grow: 1;
  flex-shrink: 0;
}
.laboratoryResultsPerTitle {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 500%;
  background: none;
  overflow: auto;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  border: 0px none #d9d9d980;
}
.laboratoryResultsPerTitle > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.laboratoryResultsPerTitle > :global(.__wab_flex-container) > *,
.laboratoryResultsPerTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.laboratoryResultsPerTitle > :global(.__wab_flex-container) > picture > img,
.laboratoryResultsPerTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .laboratoryResultsPerTitle {
    position: relative;
    left: auto;
    top: auto;
  }
}
.laboratoryResultsPerTitleviewNormalRange {
  padding: 0px;
}
.labPerDate {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 0px) !important;
  background: #ffffff;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0px;
  border: 0px none var(--token-8PxxXPNrIohQ);
}
.labPerDate > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.labPerDate > :global(.__wab_flex-container) > *,
.labPerDate > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labPerDate > :global(.__wab_flex-container) > picture > img,
.labPerDate
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .labPerDate {
    margin-left: calc(0px + 0px) !important;
  }
}
.labPerDateviewNormalRange {
  width: 125px;
  margin-left: calc(0px + 0px) !important;
  flex-shrink: 0;
}
.issuedDatetime {
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  font-size: var(--token-sOr3fJ5Up5fq);
  margin-bottom: 0px;
  white-space: pre;
  align-self: center;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-left: 0px;
  border-right-style: none;
  border-right-width: 0px;
  border-left-style: none;
  border-left-width: 0px;
  left: auto;
  top: auto;
  text-align: center;
  background: #f5f5f5;
  min-width: 0;
  flex-shrink: 0;
  padding: 5px;
  border-top: 0px none var(--token-Pxe4wDL2kJpb);
  border-bottom: 1px solid #e7e7e7;
}
@media (min-width: 0px) and (max-width: 760px) {
  .issuedDatetime {
    margin-top: calc(0px + 0px) !important;
  }
}
.issuedDatetimeviewNormalRange {
  margin-top: calc(0px + 0px) !important;
}
.labLists {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.labLists > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.labLists > :global(.__wab_flex-container) > *,
.labLists > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labLists > :global(.__wab_flex-container) > picture > img,
.labLists
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.factorNameValue {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 48px;
  max-width: 100%;
  background: none;
  margin-bottom: 0px;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-left: 0px;
  flex-grow: 1;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 7px 5px 5px;
  border-top: 0px none #000005;
  border-right: 1px solid #e7e7e780;
  border-bottom: 1px solid #e7e7e780;
  border-left: 1px none #000000;
}
.factorNameValue > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.factorNameValue > :global(.__wab_flex-container) > *,
.factorNameValue > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.factorNameValue > :global(.__wab_flex-container) > picture > img,
.factorNameValue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .factorNameValue {
    margin-top: calc(0px + 0px) !important;
  }
}
.factorNameValueviewNormalRange {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 110px;
  border-right-color: #e7e7e780;
  margin-top: calc(0px + 0px) !important;
  flex-shrink: 0;
  padding: 5px 2px 2px;
}
.highlightOverlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  background: var(--token-KrBMMqlPClZi);
  z-index: 0;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.highlightIcon:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  flex-shrink: 0;
}
.freeBox___4Tel {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.normalFactorValue {
  width: 100%;
  height: auto;
  max-width: 500%;
  font-size: var(--token-sOr3fJ5Up5fq);
  text-align: center;
  white-space: pre-wrap;
  line-height: 0.9;
  align-self: auto;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .normalFactorValue {
    text-align: center;
  }
}
.normalFactorValueviewNormalRange {
  align-self: auto;
  font-size: var(--token-CdE1_0ZaCyT1);
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
.abnormalFactorValue {
  width: 100%;
  height: auto;
  max-width: 500%;
  font-size: var(--token-sOr3fJ5Up5fq);
  text-align: center;
  white-space: pre-wrap;
  font-weight: 600;
  align-self: center;
  position: relative;
  color: var(--token-Bo2_tT25lwh4);
  line-height: 1.1;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .abnormalFactorValue {
    text-align: center;
  }
}
.abnormalFactorValueviewNormalRange {
  height: auto;
}
.normalRanged {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8PxxXPNrIohQ);
  font-weight: 400;
  white-space: pre-wrap;
  flex-shrink: 1;
  flex-grow: 1;
  font-size: 8px;
  align-self: center;
  text-align: center;
  min-width: 0;
  display: none;
  padding: 0px;
  margin: 2px 0px 0px;
  border: 0px none var(--token-Pxe4wDL2kJpb);
}
.normalRangedviewNormalRange {
  flex-shrink: 1;
  flex-grow: 1;
  font-size: 10px;
  align-self: center;
  white-space: pre-wrap;
  text-align: center;
  line-height: 1;
  color: var(--token-8PxxXPNrIohQ);
  font-weight: 300;
  display: block;
  padding: 2px 0px 0px;
  margin: 2px 0px 0px;
  border: 0px none var(--token-8PxxXPNrIohQ);
}
.overlayLayer {
  position: absolute;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  background: #bdbdbd80;
  min-height: 0;
}
.checkedFactorsApiFetcher:global(.__wab_instance) {
  object-fit: cover;
  left: 12px;
  top: 90px;
  z-index: 1;
  position: fixed;
  right: 12px;
  background: #ffffff;
  bottom: 65px;
  overflow: auto;
  padding: 0px;
}
.text__bmUQf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-size: var(--token-CdE1_0ZaCyT1);
  white-space: pre-wrap;
  left: auto;
  top: auto;
  z-index: 0;
  align-self: flex-start;
  border-radius: 5px;
  padding: 2px;
  margin: 0px;
}
.labFactorList {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.labFactorList > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.labFactorList > :global(.__wab_flex-container) > *,
.labFactorList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labFactorList > :global(.__wab_flex-container) > picture > img,
.labFactorList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.labFactorPerDate {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-bottom: 1px solid #e7e7e7;
}
.labFactorDatetime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  min-width: 0;
}
.factorsList {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-left: 1px solid #e7e7e7;
}
.freeBox___1NlKt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__irl0O {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xC6Cb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 4px;
}
.factor:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #ffffff;
  min-width: 0;
}
.pcls_q2lYXHR-r9ME {
  background: #ffffff;
  font-family: "Vazirmatn", sans-serif;
  outline: none;
}
.freeBox__fxDb6 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
.factorName2 {
  background: #ffffff;
}
.switchingTabs {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  overflow: auto;
  bottom: 10px;
  right: 0;
  padding: 0px 40px 5px;
  margin: 0px;
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.homepage {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 0;
  border-right: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.homepage > picture > img {
  object-fit: fill;
}
.patientProfile {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 0;
  border-right: 0.5px solid var(--token-8PxxXPNrIohQ);
  border-left: 1px none #00000045;
}
.patientProfile > picture > img {
  object-fit: fill;
}
.radiologyReport {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 1px;
  border-right: 0.5px solid var(--token-8PxxXPNrIohQ);
  border-left: 0px none #00000045;
}
.radiologyReport > picture > img {
  object-fit: fill;
}
.laboratoryPage2 {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 1px;
  border-right: 0px none #00000045;
  border-left: 0px none #00000045;
}
.laboratoryPage2 > picture > img {
  object-fit: fill;
}
