.patientListsearch {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0px;
  background: var(--token-iVK4BLFaCPtm);
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.patientListsearch > * {
  grid-column: 4;
}
.patientListsearch > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .patientListsearch {
    padding-top: 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .patientListsearch > * {
    grid-column: 4;
  }
}
.pageContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.searchsetting {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.searchsetting > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.searchsetting > :global(.__wab_flex-container) > *,
.searchsetting > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.searchsetting > :global(.__wab_flex-container) > picture > img,
.searchsetting
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.settingIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 30px;
  margin-top: 5px;
  margin-right: 1px;
  color: #418dff;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .settingIcon {
    color: var(--token-9iYGdL7i3GKE);
  }
}
.searchbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .searchbar:global(.__wab_instance) {
    left: 0px;
    top: 0px;
    position: sticky;
  }
}
.svg__nPrTh {
  position: relative;
  object-fit: cover;
  width: var(--token-UEz8jpx4ZeEk);
  height: 1em;
  color: #418dff;
}
.svg__mRwyU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.homepage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.patientCards {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 0px 10px 0px var(--token-PfYIgSrHm2bm);
  background: #ffffff;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 5px;
  padding: 8px;
  border: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.patientCards > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.patientCards > :global(.__wab_flex-container) > *,
.patientCards > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.patientCards > :global(.__wab_flex-container) > picture > img,
.patientCards
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.firstlastName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
  padding: 4px 8px;
}
.wardroom {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.roombed {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: left;
  min-width: 0;
}
.ward {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: right;
  min-width: 0;
}
.patientDataButtons {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px 8px;
  border-top: 0.5px dashed var(--token-8PxxXPNrIohQ);
}
.img__bwGuW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: center center;
  width: 18px;
  flex-shrink: 0;
}
.img__bwGuW > picture > img {
  object-fit: cover;
  object-position: center center;
}
.img__ekG1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: center center;
  width: 15px;
  flex-shrink: 0;
}
.img__ekG1 > picture > img {
  object-fit: cover;
  object-position: center center;
}
.img__hy0Zx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: center center;
  width: 15px;
  flex-shrink: 0;
}
.img__hy0Zx > picture > img {
  object-fit: cover;
  object-position: center center;
}
.commentButton:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  height: 40px;
  left: 5px;
  top: auto;
  z-index: 1;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  opacity: 0.75;
  width: 40px;
  bottom: 14px;
  flex-grow: 0;
  margin: 5px;
}
.svg__dyjS5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ijSG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: none;
  height: 1em;
  margin: 1px;
}
.svg___8WAkJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.redirectUserToLoginPage:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.redirectUserToNamespaceSelection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
