.userSetting {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Hd7stmcqwCJ-);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.userSetting > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .userSetting > * {
    grid-column: 4;
  }
}
.userSettingdisabledLogoutButton > * {
  grid-column: 4;
}
.redirectToInlabLogin:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectToNamespaceSelection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.pageContent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 927px;
  max-width: 100%;
  justify-self: flex-start;
  margin-top: 23px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 18px 8px 8px;
}
.pageContent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.pageContent > :global(.__wab_flex-container) > *,
.pageContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.pageContent > :global(.__wab_flex-container) > picture > img,
.pageContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.pictureAndName {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 8px) !important;
  left: auto;
  top: auto;
  margin-left: 0px;
  background: #ffffff;
  margin-right: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 0px 0px 6px;
  border-top: 1px solid var(--token-8PxxXPNrIohQ);
  border-bottom: 1px solid var(--token-8PxxXPNrIohQ);
}
.pictureAndNamedisabledLogoutButton {
  margin-top: calc(0px + 8px) !important;
}
.nameRankUsername {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 6px 8px 0px 0px;
}
.nameRankUsername > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.nameRankUsername > :global(.__wab_flex-container) > *,
.nameRankUsername > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.nameRankUsername > :global(.__wab_flex-container) > picture > img,
.nameRankUsername
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.name {
  display: block;
  font-size: var(--token-sOr3fJ5Up5fq);
  font-family: var(--VazirmatnCustom);
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.2;
  color: var(--token-IYO13gyYJHXG);
  position: relative;
  top: auto;
  left: auto;
  text-align: right;
  margin-top: calc(3px + 0px) !important;
  white-space: pre-wrap;
}
.userRankTitle {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  text-align: right;
  margin-top: calc(5px + 0px) !important;
  font-size: var(--token-sOr3fJ5Up5fq);
  white-space: pre-wrap;
  font-weight: 500;
}
.usernameValue {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  text-align: right;
  margin-top: calc(5px + 0px) !important;
  font-size: var(--token-sOr3fJ5Up5fq);
  white-space: pre-wrap;
  font-weight: 500;
}
.userPicture {
  position: relative;
  object-fit: cover;
  max-width: 80%;
  align-self: center;
  height: 100%;
  width: auto;
  color: var(--token-9iYGdL7i3GKE);
  min-height: 0;
}
.myProfile {
  background: none;
  width: 351px;
  height: auto;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  margin-top: calc(46px + 8px) !important;
  display: none;
  padding: 16px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.myProfile > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.myProfile > :global(.__wab_flex-container) > *,
.myProfile > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.myProfile > :global(.__wab_flex-container) > picture > img,
.myProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.myProfile2 {
  display: block;
  font-size: 14px;
  font-family: "vazirmatn";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(24, 29, 36, 1);
  position: relative;
  text-align: left;
}
.svg___5QIhx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #416ce1;
  width: 15px;
  height: 21px;
  display: block;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.namespace {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  margin-top: calc(0px + 8px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px 16px;
  border-top: 1px solid var(--token-8PxxXPNrIohQ);
  border-bottom: 1px solid var(--token-8PxxXPNrIohQ);
}
.namespace > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.namespace > :global(.__wab_flex-container) > *,
.namespace > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.namespace > :global(.__wab_flex-container) > picture > img,
.namespace
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.namespacedisabledLogoutButton {
  margin-top: calc(0px + 8px) !important;
}
.hospitalIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 43px;
  color: var(--token-9iYGdL7i3GKE);
  flex-shrink: 0;
}
.namespaceTitle {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.namespaceTitle > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.namespaceTitle > :global(.__wab_flex-container) > *,
.namespaceTitle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.namespaceTitle > :global(.__wab_flex-container) > picture > img,
.namespaceTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.hospital2 {
  display: block;
  font-size: var(--token-sOr3fJ5Up5fq);
  font-family: var(--VazirmatnCustom);
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.2;
  color: var(--token-IYO13gyYJHXG);
  text-align: right;
  align-self: flex-end;
  white-space: pre-wrap;
}
.namespaceName {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 4px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: right;
  font-size: var(--token-sOr3fJ5Up5fq);
  color: var(--token-9iYGdL7i3GKE);
  white-space: pre-wrap;
  font-weight: 700;
  padding: 0px;
}
.namespaceNamedisabledLogoutButton {
  margin-top: calc(0px + 4px) !important;
}
.resetPassword {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  margin-top: calc(0px + 8px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px 16px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.resetPassword > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.resetPassword > :global(.__wab_flex-container) > *,
.resetPassword > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.resetPassword > :global(.__wab_flex-container) > picture > img,
.resetPassword
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.resetPassworddisabledLogoutButton {
  margin-top: calc(0px + 8px) !important;
}
.resetPasswordImage {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 43px;
  display: block;
  color: var(--token-9iYGdL7i3GKE);
  flex-shrink: 0;
}
.modalChangePassword:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 200px;
  background: #ffffff;
}
.modalContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 505px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  align-self: center;
  padding: 8px;
}
.passwordContent {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.password:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 1em;
  margin-left: 1em;
}
.svg__nsK2A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.repeatPasswordContent {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.repeatPassword:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 1em;
  margin-left: 1em;
}
.svg__kHsuF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.passwordRepeatPasswordMismatch2:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.text___9IY1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-sOr3fJ5Up5fq);
  min-width: 0;
}
.text__sm7N9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__zsuLh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.successfulChangePassword2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 0;
}
.text___6O8Tn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-sOr3fJ5Up5fq);
  min-width: 0;
}
.text___4M8Gn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__nOVwY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.unsuccessfulChangePassword2:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.text___5HjGe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-sOr3fJ5Up5fq);
  min-width: 0;
}
.text__qFkjM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__frEx2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.changePasswordButton:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 10px;
}
.text__tlPId {
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
}
.svg___8GsW9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mwN5Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.triggerToOpenModalButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  background: #ffffff;
  border-width: 1px;
  border-style: none;
}
.text__wv95T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  line-height: 1.5em;
  flex-shrink: 0;
  min-width: 0;
}
.shareToolContent {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row-reverse;
  margin-top: calc(0px + 8px) !important;
  margin-right: 0px;
  margin-bottom: 17px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px 16px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.shareToolContent > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.shareToolContent > :global(.__wab_flex-container) > *,
.shareToolContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.shareToolContent > :global(.__wab_flex-container) > picture > img,
.shareToolContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.shareToolContentdisabledLogoutButton {
  left: auto;
  top: auto;
  margin-top: calc(0px + 8px) !important;
}
.shareTool:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.logoutButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  margin-top: calc(0px + 8px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: auto;
}
.logoutButtondisabledLogoutButton:global(.__wab_instance) {
  left: auto;
  top: auto;
  opacity: 0.6;
  margin-top: calc(0px + 8px) !important;
}
.svg__fLi6W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.text__zjr24 {
  background: none;
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
  white-space: pre-wrap;
  color: #ffffff;
}
.textdisabledLogoutButton__zjr24L5PSg {
  height: auto;
}
.svg__uvacG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.homepageSwitchingTab {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 18px;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 20px 11.3% 5%;
}
.switchingTab:global(.__wab_instance) {
  max-width: 50%;
  position: relative;
}
.img__dqRhw {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 0;
  border-right: 1px none #aeaeae;
}
.img__dqRhw > picture > img {
  object-fit: fill;
}
.img__abpDa {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  display: none !important;
  margin: 0;
  border-left: 1px solid #00000045;
}
.img__abpDa > picture > img {
  object-fit: fill;
}
.img__pQ1Fd {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  display: none !important;
  margin: 1px;
  border-right: 1px solid #00000045;
  border-left: 1px solid #00000045;
}
.img__pQ1Fd > picture > img {
  object-fit: fill;
}
.img__u1C8X {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  border-right-style: none;
  border-right-width: 1px;
  height: 25px;
  display: none !important;
  margin: 0;
}
.img__u1C8X > picture > img {
  object-fit: fill;
}
