.root {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  width: auto;
  justify-self: flex-start;
  height: auto;
  box-shadow: none;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  background: var(--token-4VVKgsFPDvBb);
  border-radius: 5px;
  padding: 7px 10px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: auto;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.rootshape_round {
  border-radius: 50%;
  padding: 12px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize4_compact {
  padding: 6px 16px;
}
.rootcolor_blue {
  background: #0091ff;
}
.rootcolor_green {
  background: #30a46c;
}
.rootcolor_red {
  background: #e54d2e;
}
.rootcolor_clear {
  background: #e8ecf2;
  border: 1px solid #e8ecf2;
}
.rootcolor_link {
  background: #ffffff00;
}
.rootselected {
  background: none;
  border-top-style: none;
  border-top-width: 0px;
  border-right-style: none;
  border-right-width: 0px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-style: none;
  border-left-width: 0px;
  border-color: var(--token-tawGjJMbHvx-);
}
.rootdeselected {
  background: none;
  border-width: 1px;
  border-style: none;
}
.rootsortDeselected {
  box-shadow: none;
  background: none;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
}
.rootsortSelected {
  background: var(--token-WRbeWXZefKPR);
  border-radius: 10px;
  border: 1px solid var(--token-zeOmhvqK1boB);
}
.rootshape_round_size4_compact {
  padding: 6px;
}
.text___0K9Kh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
}
.textcolor_clear___0K9KhQeFss {
  display: none;
}
.text__cOxxN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
}
.textcolor_clear__cOxxNQeFss {
  display: none;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
}
.slotTargetChildren {
  color: var(--token-8PxxXPNrIohQ);
  font-weight: 500;
  white-space: pre;
}
.slotTargetChildrenisDisabled {
  color: #ffffff;
}
.slotTargetChildrencolor_blue {
  color: #ffffff;
}
.slotTargetChildrencolor_green {
  color: #ffffff;
}
.slotTargetChildrencolor_red {
  color: #ffffff;
}
.slotTargetChildrencolor_clear {
  color: #1b1b18;
}
.slotTargetChildrencolor_link {
  color: #0091ff;
}
.slotTargetChildrenselected {
  color: var(--token-IYO13gyYJHXG);
}
.slotTargetChildrendeselected {
  color: #bbbbbb;
}
.slotTargetChildrensortDeselected {
  color: var(--token-Le07ngBUPl2h);
  font-size: var(--token-CdE1_0ZaCyT1);
}
.slotTargetChildrensortSelected {
  color: var(--token-zeOmhvqK1boB);
  font-size: var(--token-CdE1_0ZaCyT1);
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor_link {
  color: #0091ff;
}
.svg__z81Hd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor_link {
  color: #0091ff;
}
.svg__asUxw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
