.reports:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 8px 20%;
}
.viewPacs:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 30px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 12px;
  min-width: 0;
}
.svg__u5QM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___7XRgz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__grUgy {
  text-align: center;
  height: 100%;
  font-size: 14px;
  font-weight: 300;
  min-height: 0;
}
.svg__lnga9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vH0Vy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  text-align: center;
  margin-top: 12px;
  min-width: 0;
  padding: 0px;
}
.text__ttMz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  align-self: center;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.freeBox__m5Qvi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: none;
  margin-top: 8px;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
  border: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.imagingTitledatetime {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 4px;
  border-bottom: 0.5px dashed var(--token-8PxxXPNrIohQ);
}
.imagingTitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.imagingDatetime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-left: 0.5px dashed var(--token-8PxxXPNrIohQ);
}
.imagingType {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 4px;
  min-width: 0;
}
