.laboratoryData {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #e8ecf2;
  overflow: auto;
  max-width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.laboratoryData > * {
  grid-column: 4;
}
.laboratoryData > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .laboratoryData > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9iYGdL7i3GKE);
  height: 1em;
}
.labData:global(.__wab_instance) {
  max-width: 90%;
  object-fit: cover;
  position: relative;
  width: 100%;
  background: none;
  height: auto;
  max-height: 100%;
  margin-bottom: 8px;
  justify-self: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0% 0% 20%;
}
.text__vcc6L {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 8px;
  min-width: 0;
  padding: 8px;
}
.text__woDte {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  align-self: center;
  margin-top: 8px;
  min-width: 0;
  padding: 8px;
}
.laboratoryLists {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-grow: 1;
  min-width: 0;
  padding: 4px 8px 8px;
  margin: 0px;
}
.laboratoryTitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-style: normal;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: center;
  background: none;
  font-size: 14px;
  min-width: 0;
  padding: 4px;
}
.freeBox__voaEt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 500%;
  background: none;
  overflow: auto;
  min-width: 0;
  padding: 0px 0px 4px;
}
.freeBox__voaEt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__voaEt > :global(.__wab_flex-container) > *,
.freeBox__voaEt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__voaEt > :global(.__wab_flex-container) > picture > img,
.freeBox__voaEt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.labPerDate {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 190px;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 4px) !important;
  background: #ffffff;
  flex-shrink: 0;
  padding: 8px;
  border: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.labPerDate > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.labPerDate > :global(.__wab_flex-container) > *,
.labPerDate > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labPerDate > :global(.__wab_flex-container) > picture > img,
.labPerDate
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.dateOfReport {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  margin-bottom: 4px;
  min-width: 0;
}
.labLists {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.labLists > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.labLists > :global(.__wab_flex-container) > *,
.labLists > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labLists > :global(.__wab_flex-container) > picture > img,
.labLists
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.factorNamevalue {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  margin-bottom: 0px;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  min-height: 0;
  padding: 4px;
  border-bottom: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.factorNamevalue > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.factorNamevalue > :global(.__wab_flex-container) > *,
.factorNamevalue > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.factorNamevalue > :global(.__wab_flex-container) > picture > img,
.factorNamevalue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__tc6Bm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 2px 0px;
}
.factorName {
  width: 100%;
  height: auto;
  max-width: 300%;
  font-size: 12px;
  text-align: justify;
  min-width: 0;
}
.factorValue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: center;
  padding-left: 2px;
  min-width: 0;
  border-right: 0.5px none var(--token-8PxxXPNrIohQ);
  border-left: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.switchingTabs {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 20px 11.3% 5%;
  margin: 18px 0px 0px;
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectToLoginPage:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectToNamespaceSelection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.onloadUserPatientInteractionCount:global(.__wab_instance):global(
    .__wab_instance
  ) {
  max-width: 100%;
  position: relative;
}
