.patientCards {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-cSJ2BJk-9JCq);
  background: #e8ecf2;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.patientCards > * {
  grid-column: 4;
}
.freeBox__xkYxB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 18%;
}
.header___9U6LP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___2Czr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
  min-width: 0;
  padding: 0px;
}
.freeBox__cs3O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.text__wdVi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  min-width: 0;
}
.text___1ObUw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.freeBox__eIqr2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.text__i9GOv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  min-width: 0;
}
.text__p26D {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  text-align: right;
  padding-left: 0px;
  align-self: center;
  padding-right: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
}
.freeBox___0WcGe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
  min-width: 0;
  padding: 0px;
}
.freeBox__duKtn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.text__pufPy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  min-width: 0;
}
.text__lrgwy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.freeBox__whUsW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.text__jd7Hn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  min-width: 0;
}
.text__dAxYj {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  text-align: right;
  min-width: 0;
}
.freeBox__fa6Rm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
  min-width: 0;
  padding: 0px;
}
.freeBox__x40Ug {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.text__oHi1U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  min-width: 0;
}
.text__kxU2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.freeBox__jdB4P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.text___4JV9I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  min-width: 0;
}
.text__rR56W {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  text-align: right;
  min-width: 0;
}
.freeBox__zglvp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
  min-width: 0;
  padding: 0px;
}
.freeBox__gOlr0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.text__ehOfA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  min-width: 0;
}
.text__vK0RN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
}
.li {
  transform: translateX(0px) translateY(0px) translateZ(0px);
}
.freeBox__iy0Fr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.text__oY5Cm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  min-width: 0;
}
.text__dVMw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.switchingTabs {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 8px 11.3% 5%;
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
