.homepage {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0px;
  background: #e8ecf2;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.homepage > * {
  grid-column: 4;
}
.homepage > * {
  grid-column: 4;
}
.homepage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .homepage {
    padding-top: 12px;
    background: #e8ecf2;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .homepage > * {
    grid-column: 4;
  }
}
.redirectToLoginPage:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.redirectToNamespaceSelection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.pageContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: #e8ecf2;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  max-height: 30px;
  flex-grow: 1;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  margin-bottom: 0px;
  border-bottom-style: solid;
  background: var(--token-jgohepLVeKvh);
  min-height: 0;
  padding: 4px;
  border-width: 0.2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    max-height: 25px;
    background: var(--token-Yq556PvPjGii);
  }
}
.namespaceTitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-CdE1_0ZaCyT1);
  font-family: "Vazirmatn", sans-serif;
  min-width: 0;
}
.patients:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 0px;
  min-width: 0;
  row-gap: 5px;
  padding: 0% 10px 180px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .patients:global(.__wab_instance) {
    margin-top: 20px;
    padding-bottom: 150px;
  }
}
.بمارافتنشد {
  position: relative;
  margin-top: 8px;
  font-size: var(--token-sOr3fJ5Up5fq);
  background: #ffffff;
  width: auto;
  text-align: center;
  align-self: center;
  font-weight: 700;
  white-space: pre-wrap;
  font-family: var(--VazirmatnCustom);
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none !important;
  border-radius: 5px;
  padding: 8px;
}
.bookmarkGuide {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 60%;
  background: var(--token-PIJd_nie0KbY);
  box-shadow: inset 0px 4px 16px 0px #0000004d;
  transform: translateX(0px) translateY(40px) translateZ(0px);
  opacity: 0.8;
  left: 20%;
  top: 135%;
  right: 0;
  z-index: 2;
  border-radius: 15px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bookmarkGuide {
    max-width: 80%;
    left: 10%;
    top: 300px;
    position: absolute;
    width: auto;
    height: auto;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: auto;
  margin-top: 20px;
  padding: 0px 8px;
}
.bookmarkImage {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9iYGdL7i3GKE);
  width: 40px;
  height: 100%;
  align-self: center;
  flex-shrink: 0;
  min-height: 0;
}
.bookmarkedImage {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9iYGdL7i3GKE);
  width: 40px;
  height: 100%;
  align-self: center;
  flex-shrink: 0;
  min-height: 0;
}
.text__jzEz {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-weight: 800;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  align-self: flex-start;
  white-space: pre-wrap;
  font-family: var(--VazirmatnCustom);
  font-size: 18px;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jzEz {
    font-size: var(--token-sOr3fJ5Up5fq);
  }
}
.لطفامنتظربماند {
  position: absolute;
  margin-top: 8px;
  font-size: var(--token-sOr3fJ5Up5fq);
  background: #ffffff;
  width: auto;
  text-align: center;
  align-self: center;
  font-weight: 700;
  white-space: pre-wrap;
  font-family: var(--VazirmatnCustom);
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none !important;
  left: 20%;
  top: 60px;
  right: 20%;
  z-index: 2;
  max-width: 80%;
  border-radius: 5px;
  padding: 8px;
  border: 2px solid var(--token-PIJd_nie0KbY);
}
@media (min-width: 0px) and (max-width: 768px) {
  .لطفامنتظربماند {
    top: 40px;
  }
}
.patientCards {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 5px 5px 10px 0px var(--token-RvPI6LyeIPmd);
  background: #ffffff;
  margin-bottom: 5px;
  margin-top: 0px;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 0;
  border-radius: 9px;
  padding: 8px;
  border: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.patientCards > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.patientCards > :global(.__wab_flex-container) > *,
.patientCards > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.patientCards > :global(.__wab_flex-container) > picture > img,
.patientCards
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .patientCards {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .patientCards > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 7px);
    height: calc(100% + 7px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .patientCards > :global(.__wab_flex-container) > *,
  .patientCards > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .patientCards > :global(.__wab_flex-container) > picture > img,
  .patientCards
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 7px;
  }
}
.patientNameBookmarkIcon {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-bottom: 0px;
  padding-top: 8px;
  align-self: center;
  min-width: 0;
}
.patientNameBookmarkIcon > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.patientNameBookmarkIcon > :global(.__wab_flex-container) > *,
.patientNameBookmarkIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.patientNameBookmarkIcon > :global(.__wab_flex-container) > picture > img,
.patientNameBookmarkIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.firstLastName {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  white-space: pre-wrap;
  align-self: center;
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
  padding: 6px 8px;
}
.bookmarkIcon:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.wardRoom {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.roomBed {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: left;
  white-space: pre-wrap;
  font-family: var(--VazirmatnCustom);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
}
.ward {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: right;
  white-space: pre-wrap;
  font-family: var(--VazirmatnCustom);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none;
  min-width: 0;
}
.patientDataButtons {
  position: relative;
  max-width: 100%;
  height: auto;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  min-width: 0;
  padding: 6px 0px 0px;
  border-top: 0.5px solid var(--token-pRs3-4jrQ4XQ);
}
.patientProfile {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  object-position: center center;
  width: 22px;
  flex-shrink: 0;
}
.patientProfile > picture > img {
  object-fit: contain;
  object-position: center center;
}
.radiologyReport {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  object-position: center center;
  width: 22px;
  flex-shrink: 0;
}
.radiologyReport > picture > img {
  object-fit: contain;
  object-position: center center;
}
.laboratoryData {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  object-position: center center;
  width: 22px;
  flex-shrink: 0;
}
.laboratoryData > picture > img {
  object-fit: contain;
  object-position: center center;
}
.bottomPanel {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: #e8ecf2;
  padding: 5px 0px 15px;
}
.bottomPanel > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.bottomPanel > :global(.__wab_flex-container) > *,
.bottomPanel > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bottomPanel > :global(.__wab_flex-container) > picture > img,
.bottomPanel
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bottomPanel {
    background: #e8ecf2;
    padding-bottom: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bottomPanel > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bottomPanel > :global(.__wab_flex-container) > *,
  .bottomPanel > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .bottomPanel > :global(.__wab_flex-container) > picture > img,
  .bottomPanel
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 5px;
  }
}
.searchSetting {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 10px 8px 8px;
}
.settingIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  margin-top: 0px;
  margin-right: 0px;
  color: var(--token-9iYGdL7i3GKE);
  left: auto;
  top: auto;
  align-self: center;
  transform: translateX(-6px) translateY(0px) translateZ(0px);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .settingIcon {
    color: var(--token-9iYGdL7i3GKE);
    width: 25px;
    align-self: auto;
    transform: none;
    margin-bottom: 0px;
    margin-right: 5px;
    height: 25px;
    margin-top: 2px;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    bottom: auto;
    flex-shrink: 0;
  }
}
.searchbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  height: 60px;
  right: auto;
  bottom: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .searchbar:global(.__wab_instance) {
    left: auto;
    top: auto;
    position: relative;
    width: 269px;
    right: auto;
    bottom: auto;
    height: 45px;
    flex-shrink: 0;
  }
}
.svg___2WfJc {
  position: relative;
  object-fit: cover;
  height: 30px;
  color: var(--token-9iYGdL7i3GKE);
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___2WfJc {
    height: 20px;
    transform: translateX(5px) translateY(0px) translateZ(0px);
  }
}
.svg___2L1F5 {
  position: relative;
  object-fit: cover;
  width: var(--token-UEz8jpx4ZeEk);
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
  align-self: center;
  margin-right: 5px;
}
.fliters {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.fliters > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.fliters > :global(.__wab_flex-container) > *,
.fliters > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fliters > :global(.__wab_flex-container) > picture > img,
.fliters
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fliters {
    padding-right: 8px;
    padding-bottom: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .fliters > :global(.__wab_flex-container) {
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .fliters > :global(.__wab_flex-container) > *,
  .fliters > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .fliters > :global(.__wab_flex-container) > picture > img,
  .fliters
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 5px;
    margin-top: 0px;
  }
}
.serviceButtonStack {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .serviceButtonStack {
    padding: 0px;
  }
}
.svg__jbwB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  height: 25px;
  color: var(--token-RvPI6LyeIPmd);
  display: none;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
}
.service:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fhw2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uruAv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.bookmarkedButtonStack {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bookmarkedButtonStack {
    padding: 0px;
  }
}
.svg__rave3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  height: 25px;
  color: var(--token-RvPI6LyeIPmd);
  display: none;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
}
.bookmarked:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sKnd0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__eNkB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.commentButton:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  height: 50px;
  left: 5px;
  top: auto;
  z-index: 1;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  opacity: 0.75;
  width: 50px;
  bottom: 130px;
  flex-grow: 0;
  flex-shrink: 1;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .commentButton:global(.__wab_instance) {
    width: 45px;
    height: 45px;
    bottom: 110px;
  }
}
.svg__fvg3U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rkQ3J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: none;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  margin: 1px;
}
.text__bLr8V {
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none !important;
}
.svg___2WNGl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.services:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
}
.servicesList {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  overflow: auto;
  padding: 8px;
  border: 0px none var(--token-9iYGdL7i3GKE);
}
.servicesList > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.servicesList > :global(.__wab_flex-container) > *,
.servicesList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.servicesList > :global(.__wab_flex-container) > picture > img,
.servicesList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.servicesName {
  position: relative;
  width: 270px;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 12px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
  font-size: var(--token-CdE1_0ZaCyT1);
  box-shadow: 0px 4px 16px 0px #0706066b;
  background: #ffffff;
  white-space: pre-wrap;
  font-family: var(--VazirmatnCustom);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: none;
  text-decoration-line: none;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid var(--token-9iYGdL7i3GKE);
}
@media (min-width: 0px) and (max-width: 768px) {
  .servicesName {
    margin-top: calc(0px + 12px) !important;
  }
}
.text__cguT {
  font-family: var(--VazirmatnCustom);
  font-size: var(--token-sOr3fJ5Up5fq);
  font-weight: 400;
  font-style: normal;
  color: var(--token-IYO13gyYJHXG);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none !important;
}
.svg___5W4Yy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  height: 25px;
  color: var(--token-RvPI6LyeIPmd);
  left: auto;
  top: auto;
  margin-right: 30px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
}
