.imagingReport1 {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 8px;
  background: #e8ecf2;
  overflow: auto;
  max-width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.imagingReport1 > * {
  grid-column: 4;
}
.h:global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.reports:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.viewPacs:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 30px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 12px;
  min-width: 0;
}
.svg___2LsoV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___8ASag {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text {
  text-align: center;
  height: 100%;
  font-size: 14px;
  font-weight: 300;
  min-height: 0;
}
.svg__yVgq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__rkUf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: none;
  margin-top: 8px;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
  border: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.freeBox__zDxkb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 4px;
  border-bottom: 0.5px dashed var(--token-8PxxXPNrIohQ);
}
.imagingTitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.imagingDatetime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-left: 0.5px dashed var(--token-8PxxXPNrIohQ);
}
.imagingType {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 4px;
  min-width: 0;
}
.switchingTabs {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 8px 11.3% 5%;
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectUserToLoginPage:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
