.textInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background: #ffffff;
  position: sticky;
  flex-grow: 1;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid var(--token-9iYGdL7i3GKE);
}
.textInput > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.textInput > :global(.__wab_flex-container) > *,
.textInput > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.textInput > :global(.__wab_flex-container) > picture > img,
.textInput
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput {
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    pointer-events: none;
    border-width: 0.5px;
    border-color: var(--token-9iYGdL7i3GKE);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInputshowStartIcon {
    padding-right: 0px;
  }
}
.textInput:hover {
  background: var(--token-jgohepLVeKvh);
  border-color: var(--token-9iYGdL7i3GKE);
}
.textInput___focusVisibleWithin {
  box-shadow: 0px 0px 0px 2px #96c7f2;
  background: #ffffff;
  outline: none;
  border-radius: 5px;
  border-width: 0.75px;
}
.textInput___focusVisibleWithin_showStartIcon {
  outline: none;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
}
.startIconContainershowStartIcon {
  margin-left: calc(0px + 8px) !important;
}
.startIconContainershowEndIcon {
  margin-left: calc(0px + 8px) !important;
}
.startIconContainerisDisabled {
  margin-left: calc(0px + 8px) !important;
}
.textInput:hover .startIconContainer {
  background: var(--token-jgohepLVeKvh);
  margin-left: calc(0px + 8px) !important;
}
.textInput .startIconContainer___focusVisibleWithin {
  margin-left: calc(0px + 8px) !important;
  outline: none;
}
.slotTargetStartIcon {
  font-size: var(--token-hYndcje43OGL);
}
.slotTargetStartIconshowStartIcon {
  color: #90908c;
}
.svg__bNQq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.input {
  width: 100%;
  left: auto;
  top: auto;
  background: var(--token-O-63NKRcNhLJ);
  font-size: var(--token-CdE1_0ZaCyT1);
  text-align: right;
  cursor: auto;
  pointer-events: auto;
  color: var(--token-IYO13gyYJHXG);
  min-width: 0;
  padding: 0px 4px 0px 0px;
  border-width: 0px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .input {
    font-size: 10px;
    background: var(--token-Yq556PvPjGii);
  }
}
.inputisDisabled {
  cursor: not-allowed;
}
.textInput:hover .input {
  background: var(--token-Yq556PvPjGii);
}
.textInput .input___focusVisibleWithin {
  background: var(--token-Yq556PvPjGii);
  outline: none;
  border-style: none;
}
.textInput .input:focus {
  outline: none;
}
.textInput .input___focusVisibleWithin:focus {
  outline: none;
}
.textInput .input___focusVisibleWithin::placeholder {
  background: var(--token-Yq556PvPjGii);
  outline: none;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  margin-left: calc(8px + 8px) !important;
}
.endIconContainershowEndIcon {
  margin-left: calc(8px + 8px) !important;
  display: flex;
}
.endIconContainerisDisabled {
  margin-left: calc(8px + 8px) !important;
}
.slotTargetEndIconshowEndIcon {
  color: #90908c;
}
.svg__m0Xvn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
