.laboratoryData {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Hd7stmcqwCJ-);
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.laboratoryData > * {
  grid-column: 4;
}
.laboratoryData > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .laboratoryData {
    overflow: auto;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .laboratoryData > * {
    grid-column: 4;
  }
}
.laboratoryDataviewNormalRange > * {
  grid-column: 4;
}
.header {
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 100%;
  left: 0;
  top: 0px;
  background: #ffffff;
  right: 0;
  height: 100%;
  max-height: 30px;
  overflow: hidden;
  flex-direction: row;
  flex-grow: 1;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 4px;
  margin: 0px;
  border-bottom: 0.2px solid var(--token-IYO13gyYJHXG);
}
@media (min-width: 0px) and (max-width: 760px) {
  .header {
    justify-content: space-around;
  }
}
.patientDataApiFetcher:global(.__wab_instance) {
  max-width: 75%;
  object-fit: cover;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  overflow: hidden;
  align-self: center;
  min-width: 0;
  margin: 0px;
}
.text__t37T4 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  max-height: 30px;
  font-size: var(--token-sOr3fJ5Up5fq);
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 4px;
  margin: 0px;
}
.normalRangeButton {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  right: auto;
  max-height: 22px;
  align-self: center;
  background: none;
  min-height: 0;
  border-radius: 100px;
  padding: 4px;
  border: 0.5px solid var(--token-Pxe4wDL2kJpb);
}
@media (min-width: 0px) and (max-width: 760px) {
  .normalRangeButton {
    width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
.normalRangeButtonviewNormalRange {
  background: var(--token-tawGjJMbHvx-);
}
.normalRangeButtonCircle {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  max-width: 100%;
  background: #000000;
  align-self: center;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 8px;
}
.normalRangeButtonCircleviewNormalRange {
  background: var(--token-41VRhDKfihhY);
  display: none;
}
.text__oI3Bw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  align-self: center;
  color: var(--token-IYO13gyYJHXG);
  white-space: pre;
  text-transform: capitalize;
  user-select: none;
  letter-spacing: normal;
  min-width: 0;
  padding: 0px 4px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .text__oI3Bw {
    width: 100%;
    align-self: stretch;
    white-space: pre;
    min-width: 0;
  }
}
.textviewNormalRange__oI3BwBwg80 {
  color: #ffffff;
}
.freeBox__pziWk {
  position: relative;
  width: 12px;
  height: 12px;
  max-width: 100%;
  background: #ffffff;
  align-self: center;
  flex-shrink: 0;
  display: none;
  border-radius: 100px;
  padding: 8px;
}
.freeBoxviewNormalRange__pziWkBwg80 {
  background: #ffffff;
  display: block;
}
.labData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  background: none;
  height: auto;
  max-height: 95%;
  margin-bottom: 60px;
  justify-self: center;
  font-size: var(--token-CdE1_0ZaCyT1);
  margin-top: 45px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 10px 8px 65px 2px;
}
.text__vcc6L {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 32px;
  white-space: pre-wrap;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.text__woDte {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  align-self: center;
  margin-top: 32px;
  font-size: var(--token-CdE1_0ZaCyT1);
  white-space: pre-wrap;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.laboratoryLists {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  flex-grow: 1;
  flex-direction: column;
  min-width: 0;
  padding: 4px 4px 4px 2px;
  margin: 0px;
}
.laboratoryTitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-style: normal;
  left: auto;
  top: auto;
  background: none;
  font-size: var(--token-sOr3fJ5Up5fq);
  white-space: pre-wrap;
  text-transform: capitalize;
  align-self: flex-start;
  z-index: 0;
  margin-top: 2px;
  min-width: 0;
  padding: 4px 4px 4px 2px;
}
.labResults {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  left: auto;
  top: auto;
  align-self: center;
  min-width: 0;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .labResults {
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    padding: 4px;
  }
}
.labResultsviewNormalRange {
  align-self: center;
  justify-content: flex-start;
  padding: 4px;
}
.checkedFactors {
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  left: auto;
  top: auto;
  align-self: flex-start;
  border-left-width: 0.5px;
  border-left-style: none;
  border-top-style: none;
  border-top-width: 0.5px;
  border-bottom-style: none;
  border-bottom-width: 0.5px;
  overflow: auto;
  flex-shrink: 0;
  padding: 2px;
  border-color: var(--token-Pxe4wDL2kJpb);
}
@media (min-width: 0px) and (max-width: 760px) {
  .checkedFactors {
    align-self: flex-start;
  }
}
.emptyCell {
  position: relative;
  width: 100%;
  height: 40px;
  max-width: 100%;
  align-self: center;
  text-align: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
  margin: 0px;
  border-bottom: 0px none var(--token-Pxe4wDL2kJpb);
}
.emptyCellviewNormalRange {
  align-self: center;
}
.factorName {
  position: relative;
  width: 100%;
  height: 45px;
  max-width: 100%;
  white-space: pre-wrap;
  align-self: center;
  text-align: justify;
  font-size: var(--token-CdE1_0ZaCyT1);
  flex-grow: 1;
  min-width: 0;
  flex-shrink: 0;
  padding: 2px;
  border-top: 0.5px solid var(--token-Pxe4wDL2kJpb);
  border-bottom: 0.5px none var(--token-Pxe4wDL2kJpb);
}
.factorNameviewNormalRange {
  height: 70px;
  flex-grow: 1;
  flex-shrink: 0;
}
.laboratoryResultsPerTitle {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 500%;
  background: none;
  overflow: auto;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  border: 0px none #d9d9d980;
}
.laboratoryResultsPerTitle > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.laboratoryResultsPerTitle > :global(.__wab_flex-container) > *,
.laboratoryResultsPerTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.laboratoryResultsPerTitle > :global(.__wab_flex-container) > picture > img,
.laboratoryResultsPerTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .laboratoryResultsPerTitle {
    position: relative;
    left: auto;
    top: auto;
  }
}
.laboratoryResultsPerTitleviewNormalRange {
  padding: 0px;
}
.labPerDate {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 130px;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 0px) !important;
  border-top-width: 0px;
  border-right-width: 0.05px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  background: #ffffff;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 2px;
  border-color: var(--token-8PxxXPNrIohQ);
}
.labPerDate > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.labPerDate > :global(.__wab_flex-container) > *,
.labPerDate > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labPerDate > :global(.__wab_flex-container) > picture > img,
.labPerDate
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .labPerDate {
    margin-left: calc(0px + 0px) !important;
  }
}
.labPerDateviewNormalRange {
  margin-left: calc(0px + 0px) !important;
}
.issuedDatetime {
  position: relative;
  width: 100%;
  height: 40px;
  max-width: 100%;
  font-size: var(--token-sOr3fJ5Up5fq);
  border-bottom-width: 0px;
  margin-bottom: 0px;
  white-space: pre-wrap;
  align-self: center;
  border-bottom-color: var(--token-Pxe4wDL2kJpb);
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-left: 0px;
  border-top-width: 0px;
  border-top-color: var(--token-Pxe4wDL2kJpb);
  border-right-width: 1px;
  border-left-width: 1px;
  left: auto;
  top: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 4px;
  border-style: none;
}
.issuedDatetimeviewNormalRange {
  margin-top: calc(0px + 0px) !important;
}
.labLists {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.labLists > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.labLists > :global(.__wab_flex-container) > *,
.labLists > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labLists > :global(.__wab_flex-container) > picture > img,
.labLists
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.factorNamevalue {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 45px;
  max-width: 100%;
  background: none;
  margin-bottom: 0px;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-left: 0px;
  flex-grow: 1;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 2px;
  border-top: 0.5px solid var(--token-Pxe4wDL2kJpb);
  border-bottom: 0px none var(--token-8PxxXPNrIohQ);
}
.factorNamevalue > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.factorNamevalue > :global(.__wab_flex-container) > *,
.factorNamevalue > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.factorNamevalue > :global(.__wab_flex-container) > picture > img,
.factorNamevalue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .factorNamevalue {
    margin-top: calc(0px + 0px) !important;
  }
}
.factorNamevalueviewNormalRange {
  border-bottom-width: 0px;
  border-bottom-style: none;
  height: 70px;
  margin-top: calc(0px + 0px) !important;
  flex-shrink: 0;
  padding: 2px;
}
.freeBox___4Tel {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.normalFactorValue {
  width: 100%;
  height: auto;
  max-width: 500%;
  font-size: var(--token-CdE1_0ZaCyT1);
  text-align: center;
  white-space: pre-wrap;
  line-height: 1.2;
  align-self: auto;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 2px 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .normalFactorValue {
    text-align: center;
  }
}
.normalFactorValueviewNormalRange {
  align-self: auto;
  font-size: var(--token-CdE1_0ZaCyT1);
  height: auto;
  position: relative;
  left: auto;
  top: auto;
}
.abnormalFactorValue {
  width: 100%;
  height: auto;
  max-width: 500%;
  font-size: var(--token-CdE1_0ZaCyT1);
  text-align: center;
  white-space: pre-wrap;
  font-weight: 600;
  align-self: center;
  position: relative;
  color: var(--token-Bo2_tT25lwh4);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .abnormalFactorValue {
    text-align: center;
  }
}
.abnormalFactorValueviewNormalRange {
  height: auto;
}
.normalRanged {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8PxxXPNrIohQ);
  font-weight: 400;
  white-space: pre-wrap;
  flex-shrink: 1;
  flex-grow: 1;
  font-size: 8px;
  align-self: center;
  text-align: center;
  min-width: 0;
  display: none;
  padding: 0px;
  margin: 2px 0px 0px;
  border: 0px none var(--token-Pxe4wDL2kJpb);
}
.normalRangedviewNormalRange {
  flex-shrink: 1;
  flex-grow: 1;
  font-size: 8px;
  align-self: center;
  white-space: pre-wrap;
  text-align: center;
  display: block;
  padding: 0px;
  margin: 2px 0px 0px;
  border: 0px none var(--token-Pxe4wDL2kJpb);
}
.switchingTabs {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  bottom: 0.5%;
  right: 0;
  overflow: auto;
  padding: 24px 40px 5px;
  margin: 45px 0px 0px;
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.homepage {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 0;
  border-right: 1px none #aeaeae;
}
.homepage > picture > img {
  object-fit: fill;
}
.patientProfile {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 0;
  border-left: 1px solid #00000045;
}
.patientProfile > picture > img {
  object-fit: fill;
}
.radiologyReport {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 1px;
  border-right: 1px solid #00000045;
  border-left: 1px solid #00000045;
}
.radiologyReport > picture > img {
  object-fit: fill;
}
.laboratory {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  border-right-style: none;
  border-right-width: 1px;
  height: 25px;
  margin: 0;
}
.laboratory > picture > img {
  object-fit: fill;
}
.redirectToLoginPage:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectToNamespaceSelection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.onloadUserPatientInteractionCount:global(.__wab_instance):global(
    .__wab_instance
  ) {
  max-width: 100%;
  position: relative;
}
