.laboratoryData {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #e8ecf2;
  overflow: auto;
  max-width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.laboratoryData > * {
  grid-column: 4;
}
.laboratoryData > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .laboratoryData {
    overflow: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .laboratoryData > * {
    grid-column: 4;
  }
}
.laboratoryDataviewNormalRange > * {
  grid-column: 4;
}
.header {
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: none;
  max-height: 100px;
  margin-top: 12px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 8px 0px;
}
.patientNameage {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
.normalRangeButton:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 1200px;
  top: 12px;
  z-index: 1;
}
.svg__npMou {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4D8Ob {
  font-size: var(--token-CdE1_0ZaCyT1);
  text-align: center;
  white-space: pre-wrap;
}
.svg___3YJi3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.labData:global(.__wab_instance) {
  max-width: 95%;
  object-fit: cover;
  position: relative;
  width: 100%;
  background: none;
  height: auto;
  max-height: 100%;
  margin-bottom: 8px;
  justify-self: center;
  font-size: var(--token-CdE1_0ZaCyT1);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0% 0% 20%;
}
.text__vcc6L {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 8px;
  white-space: pre-wrap;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.text__woDte {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  align-self: center;
  margin-top: 8px;
  font-size: var(--token-CdE1_0ZaCyT1);
  white-space: pre-wrap;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.laboratoryLists {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-grow: 1;
  min-width: 0;
  padding: 4px 8px 8px;
  margin: 0px;
}
.laboratoryTitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-style: normal;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: center;
  background: none;
  font-size: var(--token-sOr3fJ5Up5fq);
  white-space: pre-wrap;
  min-width: 0;
  padding: 4px;
}
.laboratoryResultsPerTitle {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 500%;
  background: none;
  overflow: auto;
  min-width: 0;
  padding: 0px 0px 4px;
}
.laboratoryResultsPerTitle > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.laboratoryResultsPerTitle > :global(.__wab_flex-container) > *,
.laboratoryResultsPerTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.laboratoryResultsPerTitle > :global(.__wab_flex-container) > picture > img,
.laboratoryResultsPerTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.labPerDate {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 180px;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 4px) !important;
  background: #ffffff;
  flex-shrink: 0;
  padding: 4px;
  border: 1px solid var(--token-8PxxXPNrIohQ);
}
.labPerDate > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.labPerDate > :global(.__wab_flex-container) > *,
.labPerDate > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labPerDate > :global(.__wab_flex-container) > picture > img,
.labPerDate
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.labPerDateviewNormalRange {
  margin-left: calc(0px + 4px) !important;
}
.reportDatetime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-sOr3fJ5Up5fq);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  margin-bottom: 4px;
  white-space: pre-wrap;
  min-width: 0;
  padding: 0px;
}
.issuedDatetime {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-sOr3fJ5Up5fq);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  margin-bottom: 4px;
  white-space: pre-wrap;
  min-width: 0;
}
.labLists {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.labLists > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.labLists > :global(.__wab_flex-container) > *,
.labLists > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labLists > :global(.__wab_flex-container) > picture > img,
.labLists
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.factorNamevalue {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  margin-bottom: 0px;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-left: 0px;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  padding: 4px;
  border-bottom: 0.5px solid var(--token-8PxxXPNrIohQ);
}
.factorNamevalue > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.factorNamevalue > :global(.__wab_flex-container) > *,
.factorNamevalue > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.factorNamevalue > :global(.__wab_flex-container) > picture > img,
.factorNamevalue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.factorNamevalueviewNormalRange {
  margin-top: calc(0px + 0px) !important;
}
.factorNamevalue2 {
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  padding: 4px;
}
.factorNamevalue2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.factorNamevalue2 > :global(.__wab_flex-container) > *,
.factorNamevalue2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.factorNamevalue2 > :global(.__wab_flex-container) > picture > img,
.factorNamevalue2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.factorName {
  width: 100%;
  height: auto;
  max-width: 500%;
  font-size: var(--token-CdE1_0ZaCyT1);
  text-align: left;
  border-right-style: none;
  border-right-width: 0px;
  white-space: pre-wrap;
  min-width: 0;
  padding: 0px;
}
.normalFactorValue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 500%;
  font-size: var(--token-CdE1_0ZaCyT1);
  text-align: center;
  white-space: pre-wrap;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .normalFactorValue {
    text-align: center;
  }
}
.abnormalFactorValue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 500%;
  font-size: var(--token-CdE1_0ZaCyT1);
  text-align: center;
  white-space: pre-wrap;
  color: var(--token--ypw6enySR1T);
  font-weight: 600;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .abnormalFactorValue {
    text-align: center;
  }
}
.normalRanged {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-2aHIw8xI62Xi);
  font-weight: 400;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
  padding: 2px;
}
.normalRangedviewNormalRange {
  display: block;
}
.switchingTabs {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 20px 11.3% 5%;
  margin: 20px 0px 0px;
}
.switchingTab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__wWwAg {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 0;
  border-right: 1px none #aeaeae;
}
.img__wWwAg > picture > img {
  object-fit: fill;
}
.img__nDkB {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 0;
  border-left: 1px solid #00000045;
}
.img__nDkB > picture > img {
  object-fit: fill;
}
.img___0QecG {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  height: 25px;
  margin: 1px;
  border-right: 1px solid #00000045;
  border-left: 1px solid #00000045;
}
.img___0QecG > picture > img {
  object-fit: fill;
}
.img__dBXrs {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 25%;
  border-right-style: none;
  border-right-width: 1px;
  height: 25px;
  margin: 0;
}
.img__dBXrs > picture > img {
  object-fit: fill;
}
.redirectToLoginPage:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectToNamespaceSelection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.onloadUserPatientInteractionCount:global(.__wab_instance):global(
    .__wab_instance
  ) {
  max-width: 100%;
  position: relative;
}
