.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-Tf_KtjkxGdsv);
  overflow: auto;
  background: #e8ecf2;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 10px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.text__rHCF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.username:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.svg__otOnm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___99E3W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.password:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.svg__xdDpp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xRrxA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loginButtton:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  width: auto;
  height: auto;
  left: 139px;
  top: 535px;
  z-index: 1;
}
.svg__zxcPd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4HbwJ {
  color: var(--token-zy6xhYnWF8Y7);
  text-align: left;
}
.svg__k1R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.img {
  position: fixed;
  object-fit: cover;
  max-width: 20%;
  object-position: 10% 10%;
  left: 159px;
  top: 596px;
  z-index: 1;
}
.img > picture > img {
  object-fit: cover;
  object-position: 10% 10%;
}
