.inlabLogin {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-Tf_KtjkxGdsv);
  background: var(--token-Hd7stmcqwCJ-);
  transform: none;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px 16px 18px;
}
.inlabLogin > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .inlabLogin > * {
    grid-column: 4;
  }
}
.inlabLogindisabledLoginButton > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .inlabLogindisabledLoginButton > * {
    grid-column: 4;
  }
}
.inlabLoginwrongUser > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 760px) {
  .inlabLoginwrongUser > * {
    grid-column: 4;
  }
}
.inlabLoginwrongUser_disabledLoginButton > * {
  grid-column: 4;
}
.redirectToNamespaceSelection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.redirectToHomepage:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.inlabInlabPlusAccountSimilarityAnnouncement {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 5%;
  z-index: 1;
  background: #ffffff;
  font-size: 15px;
  box-shadow: 0px 0px 10px 0px var(--token-IYO13gyYJHXG);
  justify-self: flex-start;
  color: var(--token-IYO13gyYJHXG);
  font-weight: 700;
  flex-grow: 1;
  right: 35%;
  display: none;
  border-radius: 5px;
  padding: 12px;
  border: 0.5px dashed var(--token-9iYGdL7i3GKE);
}
@media (min-width: 0px) and (max-width: 760px) {
  .inlabInlabPlusAccountSimilarityAnnouncement {
    width: auto;
    font-size: 14px;
    margin-right: 0px;
    max-width: 100%;
    text-align: center;
    right: 5%;
    border-color: var(--token-9iYGdL7i3GKE);
  }
}
.inlabInlabPlusAccountSimilarityAnnouncementwrongUser {
  width: auto;
  left: auto;
  display: none;
}
@media (min-width: 0px) and (max-width: 760px) {
  .inlabInlabPlusAccountSimilarityAnnouncementwrongUser {
    top: 20px;
    right: 0px;
    left: 140px;
    width: auto;
    font-size: 16px;
    height: auto;
    bottom: auto;
    border-style: dashed;
    border-color: var(--token-9iYGdL7i3GKE);
  }
}
.alert:global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: 4em;
  position: fixed;
  width: 28.5%;
  z-index: 1;
  right: 35.75%;
}
@media (min-width: 0px) and (max-width: 760px) {
  .alert:global(.__wab_instance) {
    left: auto;
    top: 2em;
    z-index: 1;
    position: fixed;
    right: 10%;
    margin-right: 0px;
    width: 80%;
  }
}
.text__hvY3 {
  height: auto;
}
.text__uYuU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__ptCLr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
  color: var(--token-4VVKgsFPDvBb);
}
.pageContent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 60px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.pageContent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.pageContent > :global(.__wab_flex-container) > *,
.pageContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.pageContent > :global(.__wab_flex-container) > picture > img,
.pageContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .pageContent {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__zvBgx {
  position: relative;
  width: 60vh;
  height: auto;
  max-width: 100%;
  text-align: center;
  white-space: pre-wrap;
  font-weight: 700;
  text-decoration-line: none;
  font-size: 16px;
}
.username:global(.__wab_instance) {
  position: relative;
  width: 350px;
  height: 60px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .username:global(.__wab_instance) {
    width: 70%;
    flex-shrink: 0;
  }
}
.svg__falId {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
  margin-left: 3px;
}
.svg__sIovl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.password:global(.__wab_instance) {
  position: relative;
  width: 350px;
  height: 60px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .password:global(.__wab_instance) {
    width: 70%;
    flex-shrink: 0;
  }
}
.svg__fnFNb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
  margin-left: 3px;
}
.svg__lOk9F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.text__rvtSi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-b7Myz3RtiwPQ);
  font-weight: 700;
  min-width: 0;
}
.loginButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.loginButtondisabledLoginButton:global(.__wab_instance) {
  opacity: 0.6;
}
.svg__vwi6M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gSrrw {
  white-space: pre-wrap;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 0px;
  color: var(--token-jgohepLVeKvh);
}
.svg__ta8Rz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.createAccountResetPassword {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.resetPassword:global(.__wab_instance) {
  max-width: 300px;
  height: auto;
  width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .resetPassword:global(.__wab_instance) {
    max-width: 53.14%;
    width: 100%;
    min-width: 0;
  }
}
.svg___2QxCj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__o1JqL {
  font-size: var(--token-CdE1_0ZaCyT1);
  white-space: pre-wrap;
  max-width: 119px;
  width: 100%;
  color: #1b1b18;
  font-weight: 700;
  padding-bottom: 0px;
  min-width: 0;
}
.svg___7HrrM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.createAccount:global(.__wab_instance) {
  max-width: 300px;
  height: auto;
  width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .createAccount:global(.__wab_instance) {
    max-width: 53.14%;
    width: 100%;
    min-width: 0;
  }
}
.svg__idZjz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__j140 {
  font-size: var(--token-CdE1_0ZaCyT1);
  white-space: pre-wrap;
  max-width: 119px;
  width: 100%;
  color: #1b1b18;
  font-weight: 700;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
}
.svg__mdPnK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.shareTool:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
