.inlabLogin {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-Tf_KtjkxGdsv);
  overflow: auto;
  background: #e8ecf2;
  transform: none;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px;
}
.inlabLogin > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .inlabLogin > * {
    grid-column: 4;
  }
}
.inlabLogindisabledLoginButton > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .inlabLogindisabledLoginButton > * {
    grid-column: 4;
  }
}
.pageContent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.pageContent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.pageContent > :global(.__wab_flex-container) > *,
.pageContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.pageContent > :global(.__wab_flex-container) > picture > img,
.pageContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__zvBgx {
  position: relative;
  width: 75vh;
  height: auto;
  max-width: 100%;
  text-align: center;
  white-space: pre-wrap;
}
.username:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 30%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .username:global(.__wab_instance) {
    max-width: 70%;
  }
}
.svg__falId {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg__sIovl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.password:global(.__wab_instance) {
  max-width: 30%;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .password:global(.__wab_instance) {
    max-width: 70%;
  }
}
.svg__fnFNb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.svg__lOk9F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-9iYGdL7i3GKE);
}
.loginButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.loginButtondisabledLoginButton:global(.__wab_instance) {
  opacity: 0.6;
}
.svg__pkM9C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gSrrw {
  white-space: pre-wrap;
}
.svg__r5Um {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.resetPassword:global(.__wab_instance) {
  max-width: 70%;
  position: relative;
  height: auto;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.svg__dg3Oe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__o1JqL {
  font-size: 14px;
  white-space: pre-wrap;
  max-width: 164px;
  width: 100%;
  min-width: 0;
}
.svg__zg6Gv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.redirectInlabLoginToNamespaceSelection:global(.__wab_instance):global(
    .__wab_instance
  ) {
  position: relative;
}
.redirectInlabLoginToHomepage:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
