.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-Tf_KtjkxGdsv);
  overflow: auto;
  background: #e8ecf2;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 10px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox___0Yg8K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox___0Yg8K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - var(--token-oYI7ebdZitcv));
  height: calc(100% + var(--token-oYI7ebdZitcv));
}
.freeBox___0Yg8K > :global(.__wab_flex-container) > *,
.freeBox___0Yg8K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Yg8K > :global(.__wab_flex-container) > picture > img,
.freeBox___0Yg8K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-oYI7ebdZitcv);
}
.text__zvBgx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.textInput__lesjL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.svg__falId {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rNmzx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.textInput___85NL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.svg__fnFNb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__isi1I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__zs4PH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  z-index: auto;
}
.svg__srOsI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__y32Tg {
  color: #ffffff;
  text-align: center;
}
.svg__dS9Y {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__aLyVv:global(.__wab_instance) {
  max-width: 60%;
  position: relative;
  height: 20px;
  flex-shrink: 0;
}
.svg__n9OPh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__o1JqL {
  font-size: 12px;
}
.svg__dBMB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
